---
permalink: amiros-premium.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Amiros premium</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Amiros premium' ,
        subtitle: 'Niet alleen een website, maar ook Amiros als IT partner, dat biedt Amiros Premium jouw bedrijf. '
        , text: '' }) %>

        <section>
            <div class="row justify-center center mobilepadding">
                <div class="col-md-9 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Amiros premium - uitgebreid pakket</h2>
                    <br />
                    <p>Met Amiros Premium kies je voor een complete en professionele aanpak.<br />
                        Niet alleen je website, maar ook je branding, ondersteuning en digitale werking worden meegenomen.<br /><br />
                        
                        Ideaal voor bedrijven die een sterke online aanwezigheid willen én een vaste partner zoeken om hen daarbij te ondersteunen. 
                    </p>
                </div>
            </div>
        </section>

        <section style="margin-top:0px;">
            <div class="row justify-center center">
                <div class="col-md-6 col-sm-5 text-body wow fadeInUp nomobilemargin mobilepadding" data-wow-delay=".3s">
                    <h2>Wat zit er in Amiros premium?</h2>
                </div>
            </div>

            <div class="row justify-center center">
                <div class="col-12 col-md-10 col-lg-8 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row g-2 justify-center">
                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                                <div class="boxtitle">
                                    Website
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> Tot 12 pagina’s<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> blog of portofolio<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Mobielvriendelijk design<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Contactformulier
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-hashtag"></i>
                                </div>
                                <div class="boxtitle">
                                    Uitgebreide branding
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> Logo<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Visitekaart<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Flyers of raamsticker<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> één consistente stijl
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-calendar"></i>
                                </div>
                                <div class="boxtitle">
                                    Amirosplanner - 2 agenda's
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> Online afsprakensysteem<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> 2 agenda's<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Voor meerdere gebruikers
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-shield"></i>
                                </div>
                                <div class="boxtitle">
                                    Onderhoud & beveiling
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> Updates en back-ups<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Beveiliging en controle<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Stabiele en veilige website
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-list"></i>
                                </div>
                                <div class="boxtitle">
                                    Hosting & domein
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> <span class="underline">Domeinnaam</span>: Het adres van je website, zoals www.jouwbedrijf.be.<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> <span class="underline">Hosting inbegrepen</span>: Hosting is de plaats waar je website “staat”.<br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="boxtitle">
                                    SEO & vindbaarheid
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> Sterke lokale vindbaarheid<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> SEO optimalisatie van elke pagina <br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> Maandelijks rapport 
                                </div>
                            </div>
                        </div>

                          <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-cog"></i>
                                </div>
                                <div class="boxtitle">
                                    IT setup uitgebreid
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> Emailadressen op eigen domein<br /><br />
                                    
                                    <i class="fa-regular alt-color fa-circle-check"></i> Veilige configuratie van twee computers
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-headset"></i>
                                </div>
                                <div class="boxtitle">
                                    Support
                                </div>
                                <div class="text">
                                    Snelle en persoonlijke support indien je vragen hebt of iets wilt aanpassen
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 col-md-6 col-lg-4 mt-5 mobile80vw">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-handshake-angle"></i>
                                </div>
                                <div class="boxtitle">
                                    Persoonlijke begeleiding
                                </div>
                                <div class="text">
                                    <i class="fa-regular alt-color fa-circle-check"></i> korte adviesmomenten<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> één aanspreekpunt<br /><br />

                                    <i class="fa-regular alt-color fa-circle-check"></i> 2u/maand IT partner
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row justify-center mt-5 nomobilemargin">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp mt-3">
                    <div class="row center justify-center">
                        <h2>Wat is niet inbegrepen?</h2>
                    </div>

                    <div class="row justify-center center mt-5">
                        <div class="col-lg-2 mobilew100">
                            <div class="row justify-center center">
                                <img src="img/pakketten//ExtraPaginas.png" height="100" width="auto" />
                            </div>
                            <div class="row  justify-center center mt-3">
                                <p>Extra pagina’s boven 12</p>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row  justify-center center">
                                <img src="img/pakketten/MaatwerkSoftware.png" height="100" width="auto" />
                            </div>
                            <div class="row  justify-center center mt-3">
                                <p>Maatwerk software</p>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row  justify-center center">
                                <img src="img/pakketten/Webshop.png" height="100" width="auto" />
                            </div>
                            <div class="row  justify-center center mt-3">
                                <p>Webshop</p>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row  justify-center center">
                                <img src="img/pakketten/ExtraRevisies.png" height="100" width="auto" />
                            </div>
                            <div class="row  justify-center center mt-3">
                                <p>Extra revisies boven 4</p>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-center center mt-5 mobilepadding">
                        <div>
                            <span class="bold bigger">Extra werk wordt altijd vooraf besproken en apart voorzien.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row justify-center center">
                <h2>Klaar om Premium te zijn?</h2>
            </div>

            <div class="row mt-5  justify-center center">
                <div class="col-lg-2">
                    <a href="contact.html" class="btn default-btn big"  style="font-size:24px">Contacteer ons</a>
                </div>
            </div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>