---
permalink: branding.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Home</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Een sterke eerste indruk begint bij je uitstraling' 
    , subtitle: '' ,
        text: 'Je branding is vaak het eerste wat mensen van je zien. Een logo, kleuren en stijl zorgen ervoor dat je professioneel overkomt en herkenbaar bent.<br /> Maar het gaat verder dan alleen hoe iets eruitziet. Het bepaalt hoe mensen jouw onderneming ervaren en of ze zich aangesproken voelen.'
        }) %>


        <section>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                    <h2>Wanneer en waarom branding belangrijk is</h2>
                    <br />
                    <p>Misschien herken je dit:<br />
je start en wil meteen goed overkomen<br />
je huidige logo voelt niet meer juist<br />
je communicatie is niet overal hetzelfde<br />
je wil sterker opvallen in je sector<br />
In die gevallen zorgt een duidelijke en consistente uitstraling voor meer vertrouwen en herkenning.
                    </p>

                </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">

                    <h2>Wat doen wij concreet?</h2>
                    <br />
                    <p>We bekijken samen wat bij jouw onderneming past
 en zorgen dat alles één geheel wordt.<br /><br />

✔ een logo dat bij je past en herkenbaar is<br />
✔ een stijl die je overal kan doortrekken<br />
✔ ontwerpen voor drukwerk en visuele elementen<br />
✔ ondersteuning zodat alles consistent blijft<br />
Geen standaard werk, maar iets dat echt bij jou aansluit
                    </p>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row">
                <div class="col-md-10 col-md-offset-3 text-body mt-5">
                    <div class="col-md-offset-1">
                        <h2>Branding in de praktijk</h2><br />

                        <p>Branding zit vaak in kleine dingen die je dagelijks gebruikt:<br />
een logo dat meteen duidelijk is<br />
een visitekaartje dat vertrouwen uitstraalt<br />
een flyer die opvalt<br />
een e-mailhandtekening die professioneel oogt<br />
Wanneer alles klopt, voelt dat ook zo voor je klanten</p>
                    </div><br />

                    <div class="col-md-offset-1">
                        <h2>Hoe werken we?</h2><br />

                        <p>We starten met een korte kennismaking waarin we luisteren naar jouw verhaal.<br />
 Daarna werken we een voorstel uit en sturen we bij op basis van jouw feedback.<br />
Zo kom je tot een resultaat dat niet alleen mooi is, maar ook goed voelt.</p>
                    </div><br />

                    <div class="col-md-offset-1">
                        <h2>Branding als onderdeel van een groter geheel</h2><br />

                        <p>Branding kan op zichzelf, maar wordt vaak gecombineerd met een website of een bredere digitale aanpak.<br />
Zo vormt alles meteen één geheel en hoef je later niets opnieuw aan te passen.</p><br />

                        <a href="#" class="default-btn big alt-color">Ontdek onze pakketten</a>
                    </div><br />

                    <div class="col-md-offset-1">
                        <h2>Drukwerk mogelijk via vaste partner</h2><br />

                        <p>Alle ontwerpen worden drukklaar aangeleverd.<br />
 Wil je het drukwerk ook laten verzorgen? Dan nemen wij dat graag mee via onze vaste drukpartner, die zorgt voor een kwalitatieve afwerking</p>
                    </div><br />

                    <div class="col-md-offset-1">
                        <h2>Klaar om je uitstraling te versterken?</h2><br />

                        <p>Of je nu start of wil verbeteren, we bekijken graag samen wat het best bij je past.</p><br />

                        <a href="#" class="default-btn big alt-color">Vraag advies </a>
                        <a href="#" class="default-btn big alt-color" style="margin-left: 50px;"> Ontvang een voorstel op maat</a>
                    </div>
                </div>
            </div>
        </section>



        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/scripts.ejs') %>
</body>

</html>