---
permalink: branding.html
---


<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

        <title>Amiros - Branding</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Een sterke eerste indruk begint bij je uitstraling' ,
        subtitle: 'Je branding is vaak het eerste wat mensen van je zien. Een logo, kleuren en stijl zorgen ervoor dat je professioneel overkomt en herkenbaar bent.<br /> Maar het gaat verder dan alleen hoe iets eruitziet. Het bepaalt hoe mensen jouw onderneming ervaren en of ze zich aangesproken voelen.'
        , text: '' }) %>

        <section class="bg-red" style="padding-top: 5px !important;padding-bottom: 5px !important;">
            <div class="row justify-center">
                <div class="col-md-3 col-md-offset-1 text-body wow fadeInUp fs-2" data-wow-delay=".3s">
                    <div style="margin-left:75px">
                        <h2 class="underline">Herken je dit? </h2>
                    </div>
                    <br />
                    <p style="font-size:20px;line-height: 2;">
                        <i class="fa-regular fa-circle-xmark white"></i> Je huidig logo voelt niet meer juist <br />
                        <i class="fa-regular fa-circle-xmark white"></i> Je communicatie is niet overal hetzelfde <br />
                        <i class="fa-regular fa-circle-xmark white"></i> Je uitstraling is niet professioneel<br />
                        <i class="fa-regular fa-circle-xmark white"></i> Je valt te weinig op in je sector<br />
                        <i class="fa-regular fa-circle-xmark white"></i> Je merk mist herkenning
                    </p>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-3  text-body wow fadeInUp fs-2" data-wow-delay=".3s">
                    <div style="margin-left:75px">
                        <h2 class="underline">Wat wij doen:</h2>
                    </div>
                    <br />
                    <p style="font-size:20px;line-height: 2;">
                        <i class="fa-regular fa-circle-check white"></i> Een logo maken dat bij je past<br />
                        <i class="fa-regular fa-circle-check white"></i> Een stijl die overal consistent is<br />
                        <i class="fa-regular fa-circle-check white"></i> Ontwerp voor drukwerk en online<br />
                        <i class="fa-regular fa-circle-check white"></i> Alles afgestemd op jouw zaak<br />
                        <i class="fa-regular fa-circle-check white"></i> Herkenbaar, professioneel en sterk
                    </p>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row center justify-center">
                <div class="col-md-6 text-body">
                    <div class="">
                        <h2>Branding in de praktijk</h2><br />

                        <p>We starten met een korte kennismaking waarin we luisteren naar jouw verhaal.
                            Daarna werken we een voorstel uit en sturen we bij op basis van jouw feedback.
                            Zo kom je tot een resultaat dat niet alleen mooi is, maar ook goed voelt.</p>
                    </div>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-8 col-md-offset-2 text-body mt-5">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row justify-center">
                                <img src="img/branding/logo.png" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Meteen herkenbaar</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row justify-center">
                                <img src="img/branding/visitekaart.png" />
                            </div>
                            <div class="row justify-center center" style="margin-top:10px">
                                <span class="bold">Straalt vertrouwen uit</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row justify-center" style="margin-top:10px">
                                <img src="img/branding/flyer.png" />
                            </div>
                            <div class="row justify-center center" style="margin-top:10px">
                                <span class="bold">Valt op en blijft hangen</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row justify-center" style="margin-top:25px">
                                <img src="img/branding/gadgets.png" />
                            </div>
                            <div class="row justify-center center" style="margin-top:15px">
                                <span class="bold">Zorgt voor herkenning in het dagelijks gebruik.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row mt-5 center justify-center">
                <div class="col-md-6  text-body mt-3">
                    <div class="">
                        <h2>Branding als onderdeel van een groter geheel?</h2><br />

                        <p>Branding staat niet op zichzelf.
                            Het sluit aan op je website en digitale aanpak.
                            Of je nu start of wil verbeteren, we bekijken graag samen wat het best bij je past..</p>
                        <br /><br />
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-6  text-body mt-3 col-md-offset-3">
                    <a href="paketten.html" class="default-btn big">Bekijk onze pakketten</a><br />
                    <a href="contact.html" class="default-btn big">Contacteer ons</a>
                </div>
            </div>
        </section>



        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>