---
permalink: branding.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Home</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Een sterke eerste indruk begint bij je uitstraling' , subtitle: '' ,
        text: 'Je branding is vaak het eerste wat mensen van je zien. Een logo, kleuren en stijl zorgen ervoor dat je professioneel overkomt en herkenbaar bent.<br /> Maar het gaat verder dan alleen hoe iets eruitziet. Het bepaalt hoe mensen jouw onderneming ervaren en of ze zich aangesproken voelen.'
        }) %>


        <section>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                    <h2>Herken je dit? </h2>
                    <br />
                    <p>je start en wil meteen goed overkomen<br />
                        je huidige logo voelt niet meer juist<br />
                        je communicatie is niet overal hetzelfde<br />
                        je wil sterker opvallen in je sector<br /><br />

                        Branding zorgt voor herkenning, vertrouwen en duidelijkheid.
                    </p>

                </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">

                    <h2>Hoe werken we?</h2>
                    <br />
                    <p>We bekijken samen wat bij jouw onderneming past
                        en zorgen dat alles één geheel wordt.<br /><br />

                        ✔ een logo dat bij je past en herkenbaar is<br />
                        ✔ een stijl die je overal kan doortrekken<br />
                        ✔ ontwerpen voor drukwerk en visuele elementen<br />
                        ✔ ondersteuning zodat alles consistent blijft<br />
                        Geen standaard werk, maar iets dat echt bij jou aansluit
                    </p>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-body mt-5">
                    <div class="col-md-offset-1">
                        <h2>Branding in de praktijk</h2><br />

                        <p>We starten met een korte kennismaking waarin we luisteren naar jouw verhaal.
                            Daarna werken we een voorstel uit en sturen we bij op basis van jouw feedback.
                            Zo kom je tot een resultaat dat niet alleen mooi is, maar ook goed voelt.</p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-body mt-5">
                    <div class="row">
<div class="col-lg-3">
                            <div class="row justify-center">
                                <img src="img/branding/logo.png" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Meteen herkenbaar</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row justify-center">
                                <img src="img/branding/visitekaart.png" />
                            </div>
                            <div class="row justify-center center" style="margin-top:10px">
                                <span class="bold">Straalt vertrouwen uit</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row justify-center" style="margin-top:10px">
                                <img src="img/branding/flyer.png" />
                            </div>
                            <div class="row justify-center center" style="margin-top:10px">
                                <span class="bold">Valt op en blijft hangen</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row justify-center" style="margin-top:25px">
                                <img src="img/branding/gadgets.png" />
                            </div>
                            <div class="row justify-center center" style="margin-top:15px">
                                <span class="bold">Zorgt voor herkenning in het dagelijks gebruik.</span>
                            </div>
                        </div>
                    </div><br /><br />

                    <div class="row">
                        <a href="#" class="default-btn big col-md-offset-1" style="margin-left:90px">Vraag offerte</a>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-body mt-3">
                    <div class="col-md-offset-1">
                        <h2>Branding als onderdeel van een groter geheel?</h2><br />

                        <p>Branding staat niet op zichzelf.
Het sluit aan op je website en digitale aanpak.
Of je nu start of wil verbeteren, we bekijken graag samen wat het best bij je past..</p><br /><br />

                        <a href="#" class="default-btn big">Ontdek onze pakketten</a><br />
                        <a href="#" class="default-btn big">Ontvang een voorstel op maat</a><br />
                        <a href="#" class="default-btn big">Vraag advies</a><br /><br /><br />

                         <p>* Drukwerk mogelijk via onze vaste partner.</p>
                    </div>

                </div>
            </div>
        </section>



        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/scripts.ejs') %>
</body>

</html>