---
permalink: contact.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Contact</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Gewoon Amiros' ,
        subtitle: ''
        , text: 'Heb je een vraag, een idee of zit je ergens vast?<br />Je hoeft het niet allemaal zelf uit te zoeken.<br />We bekijken graag samen wat er mogelijk is en wat het best bij jouw situatie past.' }) %>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">
                    <h2>Waarmee kunnen we je helpen?</h2>
                    
                    <p>Een website of online aanwezigheid<br />
software of automatisatie<br />
hulp bij iets dat niet werkt<br />
advies of gewoon even sparren<br /><br />

Twijfel je? Dat is geen probleem.<br />
 We luisteren eerst en denken met je mee
                    </p>
                </div>
            </div>
        </section>




    <div data-scroll-index="7" id="section-7" class="display-flex clearfix parallax-window">
        <div class="container-wrap">

            <div class="display-flex no-padding contact-div wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-6 col-sm-12 col-xs-12 b-bg">
  <div class="row justify-center">
                            <h2 style="color: white;">Contacteer ons</h2>
                        </div>


                    <div class="padding-100" style="padding-top:20px">
                            <div id="contact_form" class="wrap">
                                <div id="result"></div>
                                <div class="mat-div">
                                    <label for="first-name" class="mat-label">Naam</label>
                                    <input type="text" name="name" class="mat-input" id="name">
                                </div>

                                <div class="mat-div">
                                    <label for="email" class="mat-label">E-mail</label>
                                    <input type="email" name="email" class="mat-input" id="email">
                                </div>

                                <div class="mat-div">
                                    <label for="phone" class="mat-label">Telefoon</label>
                                    <input type="tel" name="phone" class="mat-input" id="phone">
                                </div>
                                
                                <div class="mat-div">
                                    <label for="subject" class="mat-label">Onderwerp</label>
                                    <input type="text" name="subject" class="mat-input" id="subject">
                                </div>

                                <div class="mat-div">
                                    <label for="message" class="mat-label">Bericht</label>
                                    <textarea name="message" id="message" class="mat-input"></textarea>
                                </div>

                                <button id="sendmail" class="default-btn"> Verstuur <i
                                        class="ion-ios-arrow-thin-right"></i></button>
                                        
                                        <div id="result">

                                        </div>
                            </div>
                        <br /><br />
                        <span class="white" style="font-size: 16px;">

We proberen altijd binnen de twee werkdagen te reageren
 zodat je niet onnodig moet wachten.
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 w-bg">
                    <div class="padding-100">
                        <h3 class="bold">bel ons even of kom langs. </h3><br />

                       
                        <p> <i class="ion-ios-location"></i> <a class="alt-color cursor-pointer"
                                href="https://maps.app.goo.gl/HFi69fyLu38ybFiRA" target="_blank">Zandvoordsestraat 49,
                                8460 Oudenburg, België</a> </p>
                        <p> <i class="ion-android-call"></i> <a class="alt-color cursor-pointer"
                                href="tel:+32 456 64 41 72" target="_blank">+32 456 64 41 72</a></p>
                        <p> <i class="ion-android-mail"></i> <a class="alt-color cursor-pointer"
                                href="mailto:info@amiros.be" target="_blank">info@amiros.be</a> </p>

                                <p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2500.774936843834!2d2.99559697705951!3d51.18637097174214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dcac4dbaefcc83%3A0x4743dc7fc9609ce7!2sZandvoordsestraat%2049%2C%208460%20Oudenburg!5e0!3m2!1snl!2sbe!4v1775570028294!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </p>
                    </div>
                </div>


            </div>
        </div>
    </div>



        <%- include('_includes/footer.ejs') %>

        <%- include('_includes/navbar.ejs') %>

        <%- include('_includes/cookies.ejs') %>

        <%- include('_includes/scripts.ejs') %>
</body>

</html>