---
permalink: /diensten.html
---


<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('_includes/metas.ejs') %>

    <title>Amiros - Home</title>

    <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
        <%- include('_includes/banner.ejs', { 
            title: 'Digitale diensten voor ondernemers & bedrijven',
            subtitle: 'Van professionele websites en software op maat tot digitale systemen en branding:<br /> helpt ondernemers hun digitale omgeving professioneel op te bouwen.',
            text: ''
        }) %>


    <section>
        <div class="row">
            <div class="col-md-10 col-md-offset-4 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                <h2>Digitale oplossingen voor elke ondernemer</h2>
                <br />
                <br />
                <p>Elke onderneming heeft digitale tools nodig die betrouwbaar zijn en logisch samenwerken.<br /><br />

Soms gaat het om een website laten maken, een online boekingssysteem of software op maat.<br />
 Maar vaak gaat het om het geheel.<br /><br />

Bij Amiros kijken we eerst naar jouw situatie.<br />
 Start je net, wil je verbeteren of zoek je iemand die alles samenbrengt?<br />
Wij denken mee en bouwen oplossingen die:<br />
 - duidelijk werken<br />
 - op elkaar afgestemd zijn<br />
 - en kunnen meegroeien met jouw onderneming<br /><br />

Zo krijg je niet zomaar een dienst, maar een <span class="bold">digitale partner</span> die blijft meedenken.
</p>
                <br />

            </div>
        </div>
    </section>



 <section style="padding-bottom: 0px;">

        <div class="row justify-center mt-5">
            <div class="col-lg-4 box">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-globe"></i>
                            <h3>Websites laten maken</h3><br />
                            <p> Je website is vaak de eerste indruk van je onderneming.<br />
 Wij bouwen professionele websites die vertrouwen geven en duidelijk tonen wat je doet.<br />
Gebruiksvriendelijk, mobielvriendelijk en klaar om te groeien.
 </p>

                                <a class="alt-color default-btn">Meer over websites</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 box alt">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-handshake"></i>
                            <h3>Digitale partner </h3><br />
                            <p> Is je digitale omgeving onoverzichtelijk geworden?<br />
 Wij zorgen voor structuur en brengen alles samen: van e-mail en toestellen tot systemen en workflows.<br />
Zo kan jij werken zonder technische zorgen.
</p>

                            <a class="alt-color default-btn">Meer over digitale partner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 box alt">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-code"></i>
                            <h3>Software op maat</h3><br />
                            <p> Standaardsoftware die niet past, kost tijd en energie.<br />
 Wij bouwen oplossingen die processen automatiseren en aansluiten bij jouw manier van werken.<br />
Efficiënter, eenvoudiger en volledig op maat.
</p>

                            <a class="alt-color default-btn">Meer over software op maat</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-center">
            <div class="col-lg-6 box">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-calendar"></i>
                            <h3>Online boekingsysteem</h3><br />
                            <p> Afspraken via berichten of mails zorgen snel voor chaos.<br />
 Met AmirosPlanner beheer je eenvoudig je agenda en kunnen klanten zelf online boeken.<br />
Overzichtelijk, professioneel en tijdsbesparend.
</p>

                            <a class="alt-color default-btn">Ontdek AmirosPlanner</a>

                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-lg-6 box">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-brush"></i>
                            <h3>Logo en branding</h3><br />
                            <p>  Wij ontwerpen logo’s en visuele stijlen die jouw onderneming professioneel neerzetten — online én offline en zorgen dat jouw stijl ook correct wordt toegepast op drukwerk zoals visitekaartjes, stickers of ander promotiemateriaal.

</p>

                            <a class="alt-color default-btn">Meer over logo en branding</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="bg-white">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                <h2>Heb je meerdere digitale oplossingen nodig?</h2>
                <br />
                <br />
                <p>Veel zelfstandigen en bedrijven starten met één vraag:<br />
Een website, een online agenda, een logo of een digitale tool.<br /><br />

Maar vaak blijkt al snel dat verschillende zaken samen nodig zijn om alles goed te laten werken.<br /><br />

Daarom bundelen we bij Amiros onze meest gekozen oplossingen in duidelijke pakketten.<br /> 
Zo start je meteen met een sterke digitale basis, waarbij alles op elkaar afgestemd is. <br /><br />

Je kan alles apart nemen,<br />
maar een pakket zorgt vaak voor meer overzicht, minder gedoe en een voordelige totaaloplossing.
</p>
                <br />
                <a href="" class="default-btn alt-color big">Ontdek onze Amiros-pakketten</a>
            </div>

            <div class="col-md-4 col-md-offset-1 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                  <img src="img/LaptopAndComputer.png" width="500" alt="Computer en laptop" style="margin-top:120px"
                    class="img-responsive wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            </div>
        </div>

        <div class="row mt-5" style="margin-top:50px">
            <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                <h3>Klaar om jouw digitale plannen te bespreken?</h3>
                <br />
                <br />
                <p>Of je nu een nieuwe website wil laten maken, digitale tools wil verbeteren of een volledig digitaal plan zoekt: we bekijken graag samen wat het best bij jou past.
Bij Amiros geloven we in een persoonlijke aanpak. Daarom starten we altijd met een gesprek waarin we luisteren naar jouw situatie en doelen.
</p>
                <br />
                <a href="" class="default-btn alt-color big">Vraag advies</a>
                <a href="" class="default-btn alt-color big" style="margin-left: 50px;">Vraag een offerte</a><br />
            </div>
        </div>
    </section>






    <%- include('_includes/footer.ejs') %>

    <%- include('_includes/navbar.ejs') %>

    <%- include('_includes/scripts.ejs') %>
</body>

</html>