---
permalink: /diensten.html
---


<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('_includes/metas.ejs') %>

    <title>Amiros - Home</title>

    <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
        <%- include('_includes/banner.ejs', { 
            title: 'Digitale diensten voor ondernemers & bedrijven',
            subtitle: 'Van professionele websites en software op maat tot digitale systemen en branding:<br /> helpt ondernemers hun digitale omgeving professioneel op te bouwen.',
            text: ''
        }) %>


    <section style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-3 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                <h2>Digitale oplossingen voor elke ondernemer</h2>
                <br />
                <p>Digitale tools moeten niet alleen werken,<br />
                     ze moeten ook goed samenwerken.<br /><br />

Of het nu gaat om een website, software of een boekingssysteem — <br />het draait om het geheel.<br /><br />

Bij Amiros kijken we eerst naar jouw situatie<br />
en helpen we je kiezen wat echt nodig is.<br /><br />

Geen losse oplossingen,<br />
 maar een aanpak die klopt van begin tot einde.<br /><br />

Hieronder zie je wat we voor je kunnen betekenen.
</p>
                <br />

            </div>
        </div>
    </section>



 <section style="padding-bottom: 0px;">

        <div class="row justify-center mt-5">
            <div class="col-lg-4 box">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-globe"></i>
                            <h3>Websites maken</h3><br />
                            <p> Je website is vaak de eerste indruk van je onderneming.<br />
 Wij bouwen professionele websites die vertrouwen geven en duidelijk tonen wat je doet.<br />
Gebruiksvriendelijk, mobielvriendelijk en klaar om te groeien.
 </p>

                                <a class="alt-color default-btn">Meer over websites</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 box alt">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-handshake"></i>
                            <h3>Digitale partner </h3><br />
                            <p> Is je digitale omgeving onoverzichtelijk geworden?<br />
 Wij zorgen voor structuur en brengen alles samen: van e-mail en toestellen tot systemen en workflows.<br />
Zo kan jij werken zonder technische zorgen.
</p>

                            <a class="alt-color default-btn">Meer over digitale partner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 box">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-code"></i>
                            <h3>Software op maat</h3><br />
                            <p> Standaardsoftware die niet past, kost tijd en energie.<br />
 Wij bouwen oplossingen die processen automatiseren en aansluiten bij jouw manier van werken.<br />
Efficiënter, eenvoudiger en volledig op maat.
</p>

                            <a class="alt-color default-btn">Meer over software op maat</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-center">
            <div class="col-lg-6 box  alt">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-calendar"></i>
                            <h3>Online boekingsysteem</h3><br />
                            <p> Afspraken via berichten of mails zorgen snel voor chaos.<br />
 Met AmirosPlanner beheer je eenvoudig je agenda en kunnen klanten zelf online boeken.<br />
Overzichtelijk, professioneel en tijdsbesparend.
</p>

                            <a class="alt-color default-btn">Ontdek AmirosPlanner</a>

                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-lg-6 box">
                <div class="content">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="icon-box center">
                            <i class="fa-solid fa-brush"></i>
                            <h3>Logo en branding</h3><br />
                            <p>  Wij ontwerpen logo’s en visuele stijlen die jouw onderneming professioneel neerzetten — online én offline en zorgen dat jouw stijl ook correct wordt toegepast op drukwerk zoals visitekaartjes, stickers of ander promotiemateriaal.

</p>

                            <a class="alt-color default-btn">Meer over logo en branding</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="bg-red">
        <div class="row center" style="justify-content: center;">
            <div class="col-md-2" >
                <div class="row center" style="justify-content: center;">
                    <i class="fa fa-question" style="font-size: 62px;"></i>
                </div>
                <div class="row" style="margin-top:25px;font-size:20px;justify-content: center">
Je start met 1 vraag.<br />
                    Website, agenda, logo of tool.
                </div>
            </div>

            <div class="col-md-2">
                <div class="row center" style="justify-content: center;">
                    <i class="fa fa-microscope" style="font-size: 62px;"></i>
                </div>
                <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
Al snel blijkt: <br />
één oplossing is niet genoeg.
                </div>
            </div>

            <div class="col-md-2">
                <div class="row center" style="justify-content: center;">
                    <i class="fa fa-puzzle-piece" style="font-size: 62px;"></i>
                </div>
                <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
Daarom werken we <br />
ook met pakketten.
                </div>
            </div>

            <div class="col-md-2">
                <div class="row center" style="justify-content: center;">
                    <i class="fa fa-scale-balanced" style="font-size: 62px;"></i>
                </div>
                <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
Minder gedoe, meer overzicht,<br />
 betere totaalprijs.
                </div>
            </div>
        </div>
    </section>


    <section class="bg-white">
        <div class="row col-md-offset-5 ">
            <a href="" class="default-btn alt-color big">Ontdek onze Amiros-pakketten</a>
        </div>

        <div class="row mt-5" style="margin-top:50px">
            <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                <h3>Klaar om jouw digitale plannen te bespreken?</h3>
                <br />
                <p>Of je nu een nieuwe website wil laten maken, digitale tools wil verbeteren of een volledig digitaal plan zoekt: we bekijken graag samen wat het best bij jou past.<br />
Bij Amiros geloven we in een persoonlijke aanpak. Daarom starten we altijd met een gesprek waarin we luisteren naar jouw situatie en doelen.
</p>
                <br />
                <a href="" class="default-btn alt-color big">Vraag advies</a><br />
                <a href="" class="default-btn alt-color big">Vraag een offerte</a><br />
            </div>
        </div>
    </section>






    <%- include('_includes/footer.ejs') %>

    <%- include('_includes/navbar.ejs') %>

    <%- include('_includes/scripts.ejs') %>
</body>

</html>