---
permalink: digitale-partner.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

    <%- include('_includes/googletags.ejs') %>

    <title>Amiros - Digitale partner</title>

    <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Uw digitale partner' , subtitle: 'Niet elke onderneming heeft nood aan een volledige IT-afdeling,<br /> maar wel aan iemand die snel kan helpen wanneer er iets misloopt of beter kan.' ,
        text: ''
        }) %>


        <section>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                    <h2>Wanneer is een digitale partner interessant?</h2>
                    <br />
                    <p>In de praktijk gaat het vaak om kleine dingen die veel tijd kosten:<br />
                        <div style="margin-top:3px"><i class="fa-regular fa-circle-check alt-color"></i> een e-mailadres dat niet meer werkt<br />
                        <i class="fa-regular fa-circle-check alt-color"></i> een printer of toestel dat niet correct verbonden is<br />
                        <i class="fa-regular fa-circle-check alt-color"></i> een website die aangepast moet worden<br />
                        <i class="fa-regular fa-circle-check alt-color"></i> een tool die niet doet wat je verwacht of gewoon een vraag waarbij je niet weet waar te
                        beginnen</div><br />

                        Zonder ondersteuning verlies je hier snel tijd aan, of moet je telkens iemand anders
                        zoeken.<br />
                        Met een digitale partner wordt dat simpel:<br />
                        je hebt iemand die jouw situatie kent en meteen kan helpen.
                    </p>

                </div>
            </div>
        </section>

        <section class="bg-red" style="padding:50px !important">
            <div class="row center justify-center">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp fs-2  " style="margin-left:50px" data-wow-delay=".3s">
                    <div class="col-md-3 justify-center ml-5">
                        <div class="row justify-center">
                            <span class="bold big">Meer rust, minder tijdverlies</span>
                        </div>
                        <div class="row justify-center mt-3">
                            <span style="font-size:17px">Minder tijd kwijt aan technische problemen.<br />
                                Je kan sneller schakelen, maakt minder fouten
                                en focust op je eigen werk.</span>
                        </div>
                    </div>

                    <div class="col-md-1">&nbsp;</div>

                    <div class="col-md-3 justify-center">
                        <div class="row justify-center">
                            <span class="bold big">Hoe werkt het?</span>
                        </div>
                        <div class="row justify-center mt-3">
                            <span style="font-size:17px">Je kiest een pakket dat bij je past.<br />
                                Je krijgt ondersteuning wanneer nodig,
                                zonder telkens opnieuw offertes te moeten aanvragen.</span>
                        </div>
                    </div>

                    <div class="col-md-1">&nbsp;</div>

                    <div class="col-md-3 justify-center">
                        <div class="row justify-center">
                            <span class="bold big">Voor wie is dit interessant?</span>
                        </div>
                        <div class="row justify-center mt-3">
                            <span style="font-size:17px">Voor ondernemers zonder interne IT.<br />
                                Voor wie snel geholpen door een vaste partner die jullie werking snapt.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="row center justify-center">
                <div class="col-md-10 text-body">
                    <h2>Wat doen wij concreet?</h2><br />

                    <p>Wij nemen digitale zorgen uit handen en zorgen dat alles gewoon werkt.</p>
                </div>
            </div>


            <div class="row justify-center">
                <div class="col-md-8 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row g-2 justify-center">
                        <div class="col-lg-2  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-wrench"></i>
                                </div>
                                <div class="boxtitle">
                                    Technische problemen oplossen
                                </div>
                                <div class="text">
                                    Snel en efficiënt, zodat jij weer verder kan.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-clipboard-list"></i>
                                </div>
                                <div class="boxtitle">
                                    Aanpassingen aan je website
                                </div>
                                <div class="text">
                                    Een website die bij je past? Wij regelen het.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-regular fa-comment-dots"></i>
                                </div>
                                <div class="boxtitle">
                                    Advies over software en tools
                                </div>
                                <div class="text">
                                    De juiste tools voor jouw bedrijf en doelen.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-chart-line"></i>
                                </div>
                                <div class="boxtitle">
                                    Je digitale werking optimaliseren
                                </div>
                                <div class="text">
                                    Minder tijdverlies, meer overzicht en resultaat.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-hashtag"></i>
                                </div>
                                <div class="boxtitle">
                                    Ondersteuning bij vragen en ideën
                                </div>
                                <div class="text">
                                    Amiros als jouw <br />IT-partner.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center mt-5  ">
                <div class=" col-md-5">
                    <div class="note-box">
                        <div class="col-md-3 icon">
                            <i class="fa-solid fa-handshake"></i>
                        </div>
                        <div class="col-md-9">
                            <div class="row boxtitle">
                                Groot of klein, wij helpen.
                            </div>
                            <div class="row mt-2" style="line-height: 1.3;">
                                Of het nu gaat om iets kleins of iets dat snel opgelost moet worden:<br />
                                <span class="bold">Je kan altijd op ons rekenen.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

<section class="bg-white">

            <div class="row justify-center">
                <h2>Kies jouw digitale partner</h2>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-body mt-5 pricing-grid justify-center row">

                    <div class="col-md-3 pricing-container  center">
                        <div class="pricing-card__top">
                            <h3>Partner Basic</h3>
                            <span class="subtitle">€129 / maand</span>
                        </div>

                        <div class="pricing-card__body"><br />
                            <span class="bold" style="font-size:16px">Maandelijks 1,5 uur partnerschap</span><br /><br />

                            <p>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Ondersteuning via mail of telefoon<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Oplossen van kleine technische problemen<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Advies rond digitale tools<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Interventies volgens</div>
                                beschikbaarheid<br /><br /><br /><br /><br /><br />
                            </p><br />

                            <a href="contact.html" class="default-btn alt-color big">Kies partner basic</a>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container primary center">
                        <div class="pricing-card__top primary">
                            <div style="margin-top:15px">
                                <h3>Partner Busines</h3>
                                <span class="subtitle">€299 / maand</span><br />

                                <span class="alt-color bigger">Meest gekozen</span>
                            </div>
                        </div>

                        <span class="bold" style="font-size:16px">Maandelijks 4 uur partnerschap</span><br /><br />

                        <div class="pricing-card__body">
                            <p>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Ondersteuning via mail, telefoon of ter plaatse<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Prioritaire ondersteuning<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Technische hulp<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> troubleshooting<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Kleine website-aanpassingen<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Advies rond automatisatie<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i> Jaarlijkse digitale check-up<br /><br /></div>
                            </p>

                            <div style="margin-top:15px">
                                <a href="contact.html" class="alternative-btn alt-color big" style="font-size:18px">Partner
                                    Business worden</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container  center">
                        <div class="pricing-card__top primary">
                            <h3>Partner Premium</h3>
                            <span class="subtitle">€549 / maand</span>

                        </div>

                        <div class="pricing-card__body"><br />
                            <span class="bold" style="font-size:16px">Maandelijks 6 uur partnerschap</span><br /><br />

                            <p>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i>  Ondersteuning via mail, telefoon of ter plaatse<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i>  Hoogste prioriteit bij support<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i>  Uitgebreide technische ondersteuning<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i>  Strategisch digitaal advies<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i>  Ondersteuning bij automatisaties<br /></div>
                                <div style="margin-top:10px"><i class="fa-regular alt-color fa-circle-check"></i>  Jaarlijkse digitale check-up<br /><br /><br /></div>
                            </p>

                            <div style="margin-top:40px">
                                <a href="contact.html" class="default-btn alt-color big">Go partner premium</a>
                            </div>
                        </div>
                    </div>
                </div><br><br />

                <div class="col-md-10 col-md-offset-3 text-body mt-5">
                    <h2>Transparantie & werkwijze</h2><br />

                    <p>Supporturen zijn bedoeld voor kleine interventies en advies. <br />
Niet-gebruikte uren vervallen op het einde van de maand.<br /><br />
Extra uren worden gefactureerd volgens het uurtarief.</p><br />

                    <h2>Klaar voor een digitale partner?</h2><br />

                    <p>Je hoeft het niet allemaal zelf uit te zoeken.<br />
                        Wij zorgen dat jouw digitale omgeving blijft werken zoals het hoort.</p><br />

                    <a href="contact.html" class="default-btn big">Start als digitale partner</a><br /><br /><br />
                </div>
            </div>
        </section>



        <%- include('_includes/footer.ejs') %>

        <%- include('_includes/navbar.ejs') %>

        <%- include('_includes/cookies.ejs') %>

        <%- include('_includes/scripts.ejs') %>
</body>

</html>