---
permalink: digitale-partner.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Home</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Uw digitale partner' , subtitle: '' ,
        text: 'Niet elke onderneming heeft nood aan een volledige IT-afdeling,<br /> maar wel aan iemand die snel kan helpen wanneer er iets misloopt of beter kan.'
        }) %>


        <section>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                    <h2>Wanneer is een digitale partner interessant?</h2>
                    <br />
                    <p>In de praktijk gaat het vaak om kleine dingen die veel tijd kosten:<br />
                        een e-mailadres dat niet meer werkt<br />
                        een printer of toestel dat niet correct verbonden is<br />
                        een website die aangepast moet worden<br />
                        een tool die niet doet wat je verwacht of gewoon een vraag waarbij je niet weet waar te
                        beginnen<br /><br />

                        Zonder ondersteuning verlies je hier snel tijd aan, of moet je telkens iemand anders
                        zoeken.<br />
                        Met een digitale partner wordt dat simpel:<br />
                        je hebt iemand die jouw situatie kent en meteen kan helpen.
                    </p>

                </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-10 col-md-offset-1 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">
                    <div class="col-md-3 justify-center">
                        <div class="row justify-center">
                            <span class="bold big">Meer rust, minder tijdverlies</span>
                        </div>
                        <div class="row justify-center mt-3">
                            <span style="font-size:17px">Minder tijd kwijt aan technische problemen.
                                Je kan sneller schakelen, maakt minder fouten
                                en focust op je eigen werk.</span>
                        </div>
                    </div>

                    <div class="col-md-3 justify-center col-md-offset-1">
                        <div class="row justify-center">
                            <span class="bold big">Hoe werkt het?</span>
                        </div>
                        <div class="row justify-center mt-3">
                            <span style="font-size:17px">Je kiest een pakket dat bij je past.
                                Je krijgt ondersteuning wanneer nodig,
                                zonder telkens opnieuw offertes te moeten aanvragen.</span>
                        </div>
                    </div>

                    <div class="col-md-3 justify-center col-md-offset-1">
                        <div class="row justify-center">
                            <span class="bold big">Voor wie is dit interessant?</span>
                        </div>
                        <div class="row justify-center mt-3">
                            <span style="font-size:17px">Voor zelfstandigen en bedrijven zonder interne IT.
                                Voor wie snel geholpen door een vaste partner die jullie werking snapt.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row">
                <div class="col-md-10 col-md-offset-2 text-body mt-5">
                    <div class="col-md-offset-1">
                        <h2>Wat doen wij concreet?</h2><br />

                        <p>Wij helpen je met:<br /><br />

                            ✔ oplossen van technische problemen<br />
                            ✔ kleine aanpassingen aan je website<br />
                            ✔ advies rond software en digitale tools<br />
                            ✔ optimaliseren van je digitale werking<br />
                            ✔ ondersteuning bij vragen of nieuwe ideeën<br /><br />

                            Of het nu gaat om iets klein of iets dat snel opgelost moet worden:<br />
                            je kan altijd bij ons terecht.</p>
                    </div><br />
                </div>

            </div>


            <div class="row justify-center">
                <h2>Kies jouw digitale partner</h2>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-body mt-5 pricing-grid justify-center row">

                    <div class="col-md-3 pricing-container  center">
                         <div class="pricing-card__top">
                             <h3>Partner Basic</h3>
                             <span class="subtitle">€129 / maand</span>
                                                     </div>

                        <div class="pricing-card__body">
                            <span class="bold alt-color">Maandelijks 1,5 uur partnerschap</span>

                            <p>
                                <i class="fa fa-check"></i> Ondersteuning via mail of telefoon<br />
                                <i class="fa fa-check"></i> Oplossen van kleine technische problemen<br />
                                <i class="fa fa-check"></i> Advies rond digitale tools<br />
                                <i class="fa fa-check"></i> Interventies volgens beschikbaarheid<br /><br /><br /><br /><br />

                                <div style="margin-top:15px">
                                    €84 / extra uur
                                </div>
                            </p><br />

                            <a href="#" class="default-btn alt-color big">Partner Basic worden</a>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container primary center">
                        <div class="pricing-card__top primary">
                            <div style="margin-top:15px">
                                <h3>Partner Busines</h3>
                                <span class="subtitle">€299 / maand</span>
                            </div>
                        </div>

                        <span class="bold alt-color">Maandelijks 4 uur partnerschap</span>

                        <div class="pricing-card__body">
                            <p>
                                <i class="fa fa-check"></i> Ondersteuning via mail, telefoon of ter plaatse<br />
                                <i class="fa fa-check"></i> Prioritaire ondersteuning<br />
                                <i class="fa fa-check"></i> Technische hulp<br />
                                <i class="fa fa-check"></i> troubleshooting<br />
                                <i class="fa fa-check"></i> Kleine website-aanpassingen<br />
                                <i class="fa fa-check"></i> Advies rond automatisatie<br />
                                <i class="fa fa-check"></i> Jaarlijkse digitale check-up<br /><br />

                                <div style="margin-top:10px">
                                    €84 / extra uur
                                </div>
                            </p>

                            <div style="margin-top:25px">
                                <a href="#" class="alternative-btn alt-color big" style="font-size:18px">Partner Business worden</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container  center">
                        <div class="pricing-card__top primary">
                            <h3>Partner Premium</h3>
                            <span class="subtitle">€549 / maand</span>

                        </div>
                        
                        <div class="pricing-card__body">
                            <span class="bold  alt-color">Maandelijks 6 uur partnerschap</span>
                            
                            <p>
                                <i class="fa fa-check"></i> Ondersteuning via mail, telefoon of ter plaatse<br />
                                <i class="fa fa-check"></i> Hoogste prioriteit bij support<br />
                                <i class="fa fa-check"></i> Uitgebreide technische ondersteuning<br />
                                <i class="fa fa-check"></i> Strategisch digitaal advies<br />
                                <i class="fa fa-check"></i> Ondersteuning bij automatisaties<br />
                                <i class="fa fa-check"></i> Jaarlijkse digitale check-up<br /><br /><br /><br />


                                €80 / extra uur
                            </p>

                            <div style="margin-top:25px">
                                <a href="#" class="default-btn alt-color big">Partner premium worden</a>
                            </div>
                        </div>
                    </div>
                </div><br><br />

                <div class="col-md-10 col-md-offset-2 text-body mt-5">
                    <div class="col-md-offset-1">
                        <h2>Transparantie & werkwijze</h2><br />

                        <p>Supporturen zijn bedoeld voor kleine interventies en advies
                            Grotere projecten worden apart bekeken en geoffreerd.<br />
                            Niet-gebruikte uren vervallen op het einde van de maand
                            Extra uren worden gefactureerd volgens het uurtarief</p>
                    </div><br />

                    <div class="col-md-offset-1">
                        <h2>Klaar voor een digitale partner?</h2><br />

                        <p>Je hoeft het niet allemaal zelf uit te zoeken.<br />
                            Wij zorgen dat jouw digitale omgeving blijft werken zoals het hoort.</p><br />

                        <a href="#" class="default-btn big">Vraag advies </a><br />
                        <a href="#" class="default-btn big">Start als digitale partner</a><br /><br /><br />

                        <a href="#" class="default-btn big alt-color">Bekijk de veel gestelde vragen </a>
                    </div>
                </div>
            </div>
        </section>



        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/scripts.ejs') %>
</body>

</html>