---
permalink: index.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

    <%- include('_includes/googletags.ejs') %>

    <title>Amiros - Home</title>

    <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Digitale partner voor zelfstandigen en bedrijven' ,
        subtitle: 'Amiros helpt ondernemers met alles wat digitaal is: van websites en branding tot IT en software' ,
        text: 'Persoonlijke begeleiding · oplossingen op maat · alles onder één dak' }) %>

        <section>
            <div class="row">
                <div class="col-md-9 col-md-offset-2 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-md-5">
                        <h2>Alles onder één dak. </h2>
                        <br />
                        <p>Veel zelfstandigen en ondernemingen werken vandaag met verschillende partijen<br />
                            voor hun website, IT, software en digitale tools. <br />
                            Dat maakt het vaak complex en
                            tijdrovend.<br /><br />

                            Bij Amiros brengen we alles samen. <br />
                            Je kan bij ons terecht voor een volledige digitale begeleiding, maar ook voor afzonderlijke
                            diensten
                            zoals; een professionele website, een online boekingssyteem, branding,
                            IT-ondersteuning
                            of
                            softwareontwikkeling op maat.<br /><br />

                            Zo kies je zelf wat jouw onderneming nodig heeft, terwijl je altijd kan rekenen op één
                            partner die het geheel begrijpt en met je meedenkt.
                        </p>
                    </div>

                    <div class="col-md-6 mt-3">
                        <img src="img/LaptopAndComputer.png" width="740" alt="Computer en laptop" class="wow fadeInUp"
                            data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    </div>

                </div>
            </div>
        </section>

        <section style="padding-bottom: 0px;">
            <div class="row justify-center">
                <h2>Onze digitale diensten</h2>
            </div>

            <div class="row justify-center mt-5">
                <div class="col-lg-6 box">
                    <div class="content">
                        <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="icon-box center">
                                <i class="fa-solid fa-link"></i>
                                <h3>Websites die vertrouwen creëren</h3><br />
                                <p> Je website is vaak het eerste wat klanten van je zien. <br />
                                    Daarom bouwen we websites die duidelijk zijn, professioneel ogen en goed werken op
                                    elk toestel. </p>

                                <div class="row justify-center center">
                                    <div class="col-lg-6 col-sm-12">
                                        <a href="pakketten" class="alt-color default-btn bigger">Ontdek onze
                                            pakketten</a>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <a href="diensten" class="alt-color default-btn bigger">Ontdek onze diensten</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 box alt">
                    <div class="content">
                        <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="icon-box center">
                                <i class="fa-solid fa-handshake"></i>
                                <h3>Digitale partner </h3><br />
                                <p> Een onderneming draait vandaag op digitale systemen.
                                    Wanneer die niet goed samenwerken, verlies je overzicht en tijd.
                                    Wij helpen je om een stabiele en logische digitale werkomgeving op te zetten,
                                    zodat jij zonder technische zorgen kan werken.</p>

                                <div class="row justify-center center">
                                    <div class="col-lg-6 col-sm-12">
                                        <a href="pakketten" class="alt-color default-btn bigger">Ontdek onze
                                            pakketten</a>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <a href="diensten" class="alt-color default-btn bigger">Ontdek onze diensten</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center">
                <div class="col-lg-6 box alt">
                    <div class="content">
                        <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="icon-box center">
                                <i class="fa-solid fa-code"></i>
                                <h3>Software & automatisatie</h3><br />
                                <p> Niet elke onderneming past in standaardsoftware.<br />
                                    Wij bouwen slimme oplossingen en automatisaties die jouw processen eenvoudiger en
                                    efficiënter maken.</p><br />

                                <a href="software" class="alt-color default-btn bigger">Ontdek meer</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 box">
                    <div class="content">
                        <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="icon-box center">
                                <i class="fa-solid fa-brush"></i>
                                <h3>Branding die blijft hangen</h3><br />
                                <p> Een sterke uitstraling maakt het verschil tussen twijfel en vertrouwen.<br />
                                    Wij ontwerpen logo’s en visuele stijlen die jouw zaak professioneel neerzetten
                                    .</p><br />

                                <a href="branding" class="alt-color default-btn bigger">Ontdek meer</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



        <section class="bg-white">
            <div class="row">
                <div class="col-lg-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp mobilepadding"
                    data-wow-delay=".3s">

                    <h2>Digitale pakketen voor ondernemers</h2>
                    <br />
                    <p>Veel ondernemers hebben meerdere digitale oplossingen tegelijk nodig.<br />
                        Een website, een logo, een online agenda of ondersteuning.<br />
                        Daarom bundelen we onze diensten in duidelijke pakketten, zodat je snel kan starten met een
                        sterke
                        digitale basis.<br /><br />

                        Uiteraard kan je ook elke dienst afzonderlijk nemen, maar met een pakket geniet je van een
                        voordelige <span class="underline">totaaloplossing</span>.</p>
                </div>


                <div class="col-md-10 col-md-offset-1 text-body mt-5 nomobilemargin pricing-grid justify-center row">
                    <div class="col-lg-3 col-sm-10 pricing-container  center mobile80vw">
                        <div class="pricing-card__top">
                            <h3 class="center">Amiros Launch</h3>
                            <span class="smaller italic">Eénmalige prijs: € 1.590</span>
                        </div>

                        <div class="pricing-card__body">
                            <p>
                                <span class="underline">Sterk starten met een basis</span><br /><br />

                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website
                                (max 4 secties)<br /> </div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Hosting &
                                domein (jaar 1)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website
                                onderhoud<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis
                                SEO<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i>
                                AmirosPlanner (1 agenda)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Branding:
                                <br /></div>
                            logo of visitekaartje
                            </p><br /><br /><br />

                            <a href="amiros-launch.html" class="default-btn alt-color big  ml-5 nomobilemargin">Start met
                                launch</a><br />
                        </div>
                    </div>

                    <div
                        class="col-lg-3 col-sm-10 pricing-container primary center pricing-card pricing-card--grow mobile80vw">
                        <div class="pricing-card__top primary">
                            <h3 class="center">
                                Amiros Grow
                            </h3>

                            <div style="margin-top:10px">
                                <span class="smaller italic">Eénmalige prijs: € 2.390</span><br />
                            </div>

                            <span class="underline alt-color bigger">
                                Meest gekozen
                            </span>
                        </div>

                        <div class="pricing-card__body">

                            <p style="margin-top:20px">
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website
                                (max 7 pagina’s)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Hosting &
                                domein (jaar 1)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website
                                onderhoud<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis
                                SEO<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i>
                                AmirosPlanner (1 agenda)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Logo
                                ontwerp<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i>
                                Visitekaartje ontwerp<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> IT basis
                                setup (1 toestel)</div>
                            </p>

                            <div style="margin-top:70px">
                                <a href="amiros-grow.html" class="alternative-btn alt-color big"
                                    style="font-size:20px;padding-left:50px;padding-right: 50px;">Kies
                                    grow</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-10 pricing-container  center mobile80vw">
                        <div class="pricing-card__top">
                            <h3 class="center">Amiros premium</h3>
                            <span class="smaller italic">Eénmalige prijs: € 5.990</span>
                        </div>

                        <div class="pricing-card__body">
                            <p>
                                <span class="underline">Voor jouw volledige digitale aanpak</span><br /><br />

                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website
                                (max 12 pagina’s)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Hosting &
                                domein (jaar 1)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website
                                onderhoud<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis
                                SEO<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i>
                                AmirosPlanner (2 agenda’s)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Branding
                                pakket<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> IT basis
                                setup (2 toestellen)<br /></div>
                            <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 2 uur
                                support per maand inbegrepen</div>
                            </p><br /><br />

                            <a href="amiros-premium.html" class="default-btn alt-color big  ml-5 nomobilemargin">Ga voor
                                premium</a><br />
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-2 text-body mt-5 mobilepadding">
                    <p>
                        <span class="bold">Geen instapprijzen die achteraf verdubbelen.</span><br />
                        Goedkope oplossingen lijken voordelig, tot de extra’s beginnen.<br />
                        Wij leveren meteen een volledige oplossing, zonder verrassingen achteraf.
                    </p>
                </div>
            </div>

        </section>


        <!-- clients section-->
        <section class="clearfix bg-red">
            <div class="col-md-12 center">
                <h2>Onze klanten aan het woord</h2>

                <div class="slider-pro wow fadeInUp" data-wow-delay=".3s" id="clients-slider"
                    style="min-height: 210px;">
                    <div class="sp-slides">

                        <div class="sp-slide">
                            <div class="quote-container">
                                <i class="icon-quote"></i>
                            </div>
                            <p class="subtitle">Toen ik mijn nagelstudio startte, had ik nog geen website en werkte ik
                                met afspraken via Instagram en WhatsApp.<br />

                                Amiros heeft een website gemaakt én hun AmirosPlanner ingesteld zodat klanten nu gewoon
                                online hun afspraak kunnen boeken.</p>
                            <br />
                            <strong>Nagelstyliste</strong>
                        </div>

                        <div class="sp-slide">
                            <div class="quote-container">
                                <i class="icon-quote"></i>
                            </div>
                            <p class="subtitle">Ik startte mijn zaak en had eigenlijk nog niets: geen logo, geen
                                website, niets.<br />

                                Amiros heeft eerst een logo ontworpen en daarna een website gebouwd zodat mijn
                                onderneming meteen professioneel kon starten.</p>
                            <br />
                            <strong>Startende ondernemer</strong>
                        </div>

                        <div class="sp-slide">
                            <div class="quote-container">
                                <i class="icon-quote"></i>
                            </div>
                            <p class="subtitle">Wat ik fijn vond aan Amiros is dat ze naar het volledige plaatje
                                kijken.<br />

                                Ze hebben onze website gebouwd, onze e-mail en digitale tools ingesteld en zelfs advies
                                gegeven over de juiste computers, deze besteld en ingesteld.</p>
                            <br />
                            <strong>Zelfstandige ondernemer</strong>
                        </div>

                        <div class="sp-slide">
                            <div class="quote-container">
                                <i class="icon-quote"></i>
                            </div>
                            <p class="subtitle">Als architectenbureau wilden we een professionele website en een
                                stabiele IT-omgeving.<br />

                                Amiros heeft onze website vernieuwd en ervoor gezorgd dat onze digitale systemen
                                eindelijk goed samenwerken. ook ons logo en huisstijl werd door hen opgemaakt. een
                                partner die onze zaak snapt. </p>
                            <br />
                            <strong>Architect</strong>
                        </div>

                        <div class="sp-slide">
                            <div class="quote-container">
                                <i class="icon-quote"></i>
                            </div>
                            <p class="subtitle">Onze onderneming zocht specifieke software om onze interne processen te
                                verbeteren.<br />

                                Amiros heeft software op maat ontwikkeld die perfect aansluit bij hoe wij werken.</p>
                            <br />
                            <strong>Architect</strong>
                        </div>
                    </div>

                </div><br />

                <a href="contact" class="alt-color default-btn big col-md-offset-9 ">Contacteer ons</a>
            </div>


        </section>

        <section>
            <div class="row">
                <div class="col-md-5 col-md-offset-2 text-body mt-5 mobilepadding">
                    <h2>Zo werken we samen</h2>

                    <p>
                        Bij Amiros werk je niet met een anoniem systeem,
                        maar met mensen. We begeleiden je persoonlijk, stap voor stap.
                    </p><br />
                </div>
            </div>

            <div class="row justify-center">
                <div class="col-md-5 col-sm-12 text-body mt-5 mobilew100 nomobilemargin">

                    <div>
                        <div class="timeline">
                            <div class="timeline-line"></div>

                            <div class="timeline-item left" style="--y: 0px;">
                                <div class="timeline-dot"></div>
                                <div class="timeline-content" style="margin-top:10px">
                                    <h3>Kennismaking</h3>
                                    <p>We starten met een gesprek waarin we luisteren naar jouw onderneming en jouw
                                        doelen.</p>
                                </div>
                            </div>

                            <div class="timeline-item right" style="--y: 130px;">
                                <div class="timeline-dot"></div>
                                <div class="timeline-content">
                                    <h3>Oplossing op maat</h3>
                                    <p>Op basis van het gesprek stellen we een duidelijke oplossing voor.</p>
                                </div>
                            </div>

                            <div class="timeline-item left" style="--y: 275px;">
                                <div class="timeline-dot"></div>
                                <div class="timeline-content">
                                    <h3>Opbouw & uitvoering</h3>
                                    <p>We bouwen alles stap voor stap op en zorgen dat alles correct werkt met de nodige
                                        overlegmomenten.</p>
                                </div>
                            </div>

                            <div class="timeline-item right" style="--y: 435px;">
                                <div class="timeline-dot"></div>
                                <div class="timeline-content">
                                    <h3>Ondersteuning</h3>
                                    <p>Ook nadien blijven we bereikbaar als digitale partner.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center center">
                <div class="col-md-12 text-body mt-5">
                    <div class="col-lg-4 col-sm-12 ">
                        <a href="diensten" class="default-btn big alt-color">Onze diensten</a>
                    </div>

                    <div class="col-lg-4 col-sm-12 mobiletop">
                        <a href="paketten" class="default-btn big alt-color">Onze pakketten</a>
                    </div>

                    <div class="col-lg-4 col-sm-12 mobiletop">
                        <a href="contact" class="default-btn big alt-color">Advies nodig?</a>
                    </div>
                </div>
            </div>
        </section>



        <div data-scroll-index="7" id="section-7" class="display-flex clearfix parallax-window">
            <div class="container-wrap">

                <div class="display-flex no-padding contact-div wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-md-6 col-sm-12 col-xs-12 b-bg">
                        <div class="row justify-center" style="margin-top:25px">
                            <h2 style="color: white;">Contacteer ons</h2>
                        </div>

                        <div class="padding-100" style="padding-top:20px">
                            <div id="contact_form" class="wrap">
                                <div id="result"></div>
                                <div class="mat-div">
                                    <label for="first-name" class="mat-label">Naam</label>
                                    <input type="text" name="name" class="mat-input" id="name">
                                </div>

                                <div class="mat-div">
                                    <label for="email" class="mat-label">E-mail</label>
                                    <input type="email" name="email" class="mat-input" id="email">
                                </div>

                                <div class="mat-div">
                                    <label for="phone" class="mat-label">Telefoon</label>
                                    <input type="tel" name="phone" class="mat-input" id="phone">
                                </div>

                                <div class="mat-div">
                                    <label for="subject" class="mat-label">Onderwerp</label>
                                    <input type="text" name="subject" class="mat-input" id="subject">
                                </div>

                                <div class="mat-div">
                                    <label for="message" class="mat-label">Bericht</label>
                                    <textarea name="message" id="message" class="mat-input"></textarea>
                                </div>

                                <button id="sendmail" class="default-btn bigger"> Verstuur <i
                                        class="ion-ios-arrow-thin-right"></i></button>

                                <div id="result">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 w-bg">
                        <div class="padding-100">
                            <h3>Samen bouwen aan een sterke digitale basis voor jouw onderneming</h3>

                            <p>Of je nu een website wilt laten maken, digitale tools wilt verbeteren of een online
                                agenda
                                nodig hebt.<br />

                                Bij Amiros bekijken we graag samen wat het best bij jouw onderneming past.<br /><br />

                                Amiros helpt ondernemers in Oudenburg en in heel West-Vlaanderen.</p>
                            <br />
                            <p> <i class="ion-ios-location"></i> <a class="alt-color cursor-pointer"
                                    href="https://maps.app.goo.gl/HFi69fyLu38ybFiRA" target="_blank">Zandvoordsestraat
                                    49,<br />
                                    &nbsp;8460 Oudenburg, België</a> </p>
                            <p> <i class="ion-android-call"></i> <a class="alt-color cursor-pointer"
                                    href="tel:+32 456 64 41 72" target="_blank">+32 456 64 41 72</a></p>
                            <p> <i class="ion-android-mail"></i> <a class="alt-color cursor-pointer"
                                    href="mailto:info@amiros.be" target="_blank">info@amiros.be</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>