---
permalink: over-ons.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Over ons</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Gewoon Amiros' ,
        subtitle: 'Het moet niet ingewikkeld zijn. Gewoon iemand die meedenkt en helpt waar nodig.<br />Dat is wie we zijn,'
        , text: 'Amiros' }) %>



        <section class="bg-red" style="margin-top:50px">
            <div class="row mt-5 justify-center">
                <div class="col-md-10">
                    <div class="row center mobilepadding" style="justify-content: center;">
                        <div class="col-md-2 mobilew100">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-computer" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center">
                                Computers, programma’s, online agenda’s, software, AI,...
                                De middelen om ons te helpen
                            </div>
                        </div>

                        <div class="col-md-1 m-none" style="margin-top:20px">
                            <span style="font-size:62px;">|</span>
                        </div>

                        <div class="col-md-2 mobilew100 mobiletop">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-brain" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                Dingen die vandaag niet meer weg te denken zijn
                            </div>
                        </div>

                        <div class="col-md-1 m-none" style="margin-top:20px">
                            <span style="font-size:62px;">|</span>
                        </div>

                        <div class="col-md-2 mobilew100 mobiletop">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-puzzle-piece" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                En toch..
                                Je hebt vaak de tijd, de kennis of de zin niet om het allemaal te zoeken
                            </div>
                        </div>

                        <div class="col-md-1 m-none" style="margin-top:20px">
                            <span style="font-size:62px;">|</span>
                        </div>

                        <div class="col-md-2 mobilew100 mobiletop">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-lightbulb" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                Wij maken het eenvoudig.
                                Samen.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white mobilepadding">
            <div class="row center justify-center">
                <div class="col-lg-5">
                    <h2>Wat we vaak horen</h2>
                </div>
            </div>

            <div class="row mobiletop">
                <div class="col-lg-5 col-md-offset-2">
                    <i class="fa fa-quote-left alt-color" style="font-size: 42px;"></i>
                </div>
            </div>

            <div class="row mt-5 justify-center nomobilemargin">
                <div class="col-lg-8">
                    <div class="col-lg-3 mobiletop">
                        <div class="speech-bubble align-items-center">
                            Het werkt niet meer!
                        </div>
                    </div>

                    <div class="col-lg-3 mobiletop">
                        <div class="speech-bubble">
                            Wat is nu eigenlijk het verschil?!
                        </div>
                    </div>

                    <div class="col-lg-3 mobiletop">
                        <div class="speech-bubble">
                            Een backup? Gaat dat niet automatisch?
                        </div>
                    </div>

                    <div class="col-lg-3 mobiletop">
                        <div class="speech-bubble">
                            Het werkte gisteren nog!<br />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">
                <div class="col-lg-11 mobilew100" style="text-align: right;">
                    <i class="fa fa-quote-right alt-color" style="font-size: 42px;"></i>
                </div>
            </div>



            <div class="row mt-5 justify-center">
                <div class="col-md-10 offset-md-1 mt-5">
                    <div class="comparison-wrapper">

                        <div class="comparison-box left">
                            <h2>Wat we zien</h2>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-xmark alt-color"></i>
                                <span>Je verliest tijd met technische problemen</span>
                            </div>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-xmark alt-color"></i>
                                <span>Je moet constant dingen uitzoeken</span>
                            </div>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-xmark alt-color"></i>
                                <span>Je tools werken niet samen</span>
                            </div>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-xmark alt-color"></i>
                                <span>Je mist overzicht en structuur</span>
                            </div>
                        </div>

                        <div class="vs-label">VS</div>

                        <div class="comparison-box right">
                            <h2>Wat we doen</h2>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-check alt-color"></i>
                                <span>Wij lossen de problemen op</span>
                            </div>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-check alt-color"></i>
                                <span>Wij denken mee en geven advies</span>
                            </div>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-check alt-color"></i>
                                <span>We zorgen dat alles samen werkt</span>
                            </div>

                            <div class="iconbullet">
                                <i class="fa-regular fa-circle-check alt-color"></i>
                                <span>We brengen rust, overzicht en structuur</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row justify-center center">
                <div class="why-wrapper mobilew100 nomobilepadding">
                    <div class="why-box">
                        <h2>Waarom Amiros?</h2>
                        <p>
                            We zagen teveel mensen worstelen met<br>
                            technologie. Niet omdat het moeilijk is,<br>
                            maar omdat niemand het simpel maakt.
                        </p>
                        <p>Daarom doen wij het.</p>
                    </div>

                    <div class="why-lines m-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <div class="why-text  m-none">
                        <div class="col-lg-3 container">
                            <div class="row center justify-center">
                                <span class="big alt-color bold">Persoonlijk</span>
                            </div>
                            <div class="row mt-3 bigger">
                                We luisteren echt naar jouw verhaal. Persoonlijk contact is voor ons heel belangrijk.
                            </div>
                        </div>

                        <div class="col-lg-3 container">
                            <div class="row center justify-center">
                                <span class="big alt-color bold">Doordacht</span>
                            </div>
                            <div class="row mt-3 bigger center justify-center">
                                We zoeken de beste oplossing,<br />
                                niet de snelste of de duurste, <br />
                                maar degen waarvan jij weet: <br />
                                hier zit ik goed.
                            </div>
                        </div>

                        <div class="col-lg-3 container">
                            <div class="row center justify-center">
                                <span class="big alt-color bold">Betrouwbaar</span>
                            </div>
                            <div class="row mt-3 bigger">
                                Je kan op ons reken.<br />
                                Vandaag, morgen en op termijn. <br />
                                we zijn maar een telefoontje verwijderd.
                            </div>
                        </div>


                        <div class="col-lg-3 container">
                            <div class="row center justify-center">
                                <span class="big alt-color bold">Vooruitstrevend</span>
                            </div>
                            <div class="row mt-3 bigger">
                                We houden het simpel en in mensentaal wanneer we bouwen aan jouw toekomst. Zorgen dat
                                jij vooruit kan is onze passie.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            
            <div class="row center justify-center m-none" style="margin-top:250px">
                <a href="contact.html" class="default-btn alt-color big">Meer weten over wie we zijn?</a>
            </div>

            <div class="row center justify-center  mobiletop d-none" >
                <a href="contact.html" class="default-btn alt-color big">Meer weten?</a>
            </div>

            <div class="row center justify-center mobiletop">
                <span class="bold bigger">Kom gerust langs in Oudenburg, of geef ons een seintje</span>
            </div>

            <div class="mobiletop">&nbsp;</div>

        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>