---
permalink: over-ons.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Pakketten</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Gewoon Amiros' ,
        subtitle: ''
        , text: 'Het moet niet ingewikkeld zijn.<br />Gewoon iemand die meedenkt en helpt waar nodig.<br />Zodat alles eindelijk eens gewoon klopt.' }) %>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">

                    <p>Computers, programma’s, een online agenda, software…<br />
De middelen die ons helpen. Dingen die vandaag niet meer weg te denken zijn.<br />
En toch zijn het vaak net die dingen die het meest frustreren.<br /><br />

“Het werkt weer niet.”<br />
 “Waar stond die instelling nu weer?”<br />
 “Welke computer moet je kiezen uit al die opties?”<br />
 “Wat is nu eigenlijk het verschil?”<br />
 “En bestaat er echt geen programma dat gewoon alles kan wat je nodig hebt?”<br /><br />

Zelfs met hulp van tools zoals ChatGPT kom je vaak al ver… maar net niet helemaal.
                    </p>
                </div>
            </div>
        </section>



        <section class="bg-white">
            <div class="row">
                <div class="col-md-5 col-md-offset-3 col-sm-6 text-body wow fadeInUp" data-wow-delay=".3s">
                    <p><span class="bold">Daarom is Amiros ontstaan.</span>
                        Vanuit ervaring maar vooral vanuit het luisteren naar die frustraties.<br /><br /><br />

                        We merkten dat veel zelfstandigen en bedrijven<br />
niet op zoek zijn naar nog een losse oplossing,<br />
maar naar iemand die meedenkt en het geheel begrijpt.<br /><br />

We bieden verschillende diensten aan.<br />
Van websites en software tot ondersteuning en digitale oplossingen.<br /><br />

Maar op zichzelf zeggen die niet zoveel.<br />
Samen vormen ze één geheel.<br /><br />

Zodat jij één digitale partner hebt<br />
die helpt met alles wat werkt, niet werkt of beter kan.<br />
En ook daarna gewoon bereikbaar blijft<br /><br />

Een vraag, een probleem, een kleine aanpassing…
<span class="bold">we zijn maar een telefoontje verwijderd</span><br /><br />

Sinds februari 2026 werken we vanuit Oudenburg,<br />
na ons verhuis vanuit Bredene.<br />
We helpen klanten in de regio zoals Oudenburg en Oostende,<br />
maar ook daarbuiten, in heel België.<br /><br /><br />

<span class="bold"></span>Wat voor ons belangrijk is?</span><br />
Dat jij niet moet zoeken.<br />
Niet moet twijfelen.<br />
Niet moet blijven proberen tot het werkt.<br />
Maar dat je weet:<br />
dit zit goed.<br /><br /><br />


<span class="bold"></span>Onze passie</span> is niet alleen software bouwen, websites maken<br />
of een logo ontwerpen dat past bij jouw zaak.<br /><br />

Onze passie is ervoor zorgen dat jij vooruit kan.<br /><br />

<span class="bold">Klaar voor jouw digitale partner?</span><br /><br />

                        <a href="#" class="default-btn alt-color big">Neem contact op</a>
                        <a href="#" class="default-btn alt-color big" style="margin-left: 150px;">Vraag advies</a><br /><br />
                    </p>
                </div>
            </div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/scripts.ejs') %>
</body>

</html>