---
permalink: over-ons.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Pakketten</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Gewoon Amiros' ,
        subtitle: ''
        , text: 'Het moet niet ingewikkeld zijn. Gewoon iemand die meedenkt en helpt waar nodig.<br />Dat is wie we zijn,<br /> Amiros' }) %>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">

                    <p>Computers, programma’s, een online agenda, software…<br />
De middelen die ons helpen. Dingen die vandaag niet meer weg te denken zijn.<br />
En toch zijn het vaak net die dingen die het meest frustreren.<br /><br />

“Het werkt weer niet.”<br />
 “Waar stond die instelling nu weer?”<br />
 “Welke computer moet je kiezen uit al die opties?”<br />
 “Wat is nu eigenlijk het verschil?”<br />
 “En bestaat er echt geen programma dat gewoon alles kan wat je nodig hebt?”<br /><br />

Zelfs met hulp van tools zoals ChatGPT kom je vaak al ver… maar net niet helemaal.
                    </p>
                </div>
            </div>
        </section>



        <section class="bg-white">
            <div class="row">
                <div class="text-box col-lg-5 col-md-offset-2 ">
                    <div class="row">
                        <span class="bold">Daarom is Amiros ontstaan.</span><br />
                    </div>
                    <div class="row">
                        Vanuit ervaring maar vooral vanuit het luisteren naar die frustraties.<br /><br />
                        We merkten dat veel zelfstandigen en bedrijven op zoek zijn naar nog een losse oplossing, maar naar iemand die meedenkt en het geheel begrijpt.
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="text-box col-lg-5 col-md-offset-5 ">
                    <div class="row"><br />
                        We bieden verschillende diensten aan. Van websites en software tot ondersteuning en digitale oplossingen.<br /><br />

                        Maar op zichzelf zeggen die niet zoveel. Samen vormen ze één geheel.<br /><br />
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-md-offset-4 mt-5">
                    Een vraag, een probleem, een kleine aanpassing…
                    <span class="bold">we zijn maar een telefoontje verwijderd</span>
                </div>
            </div>

            <div class="row mt-4">
                <div class="text-box col-lg-2 col-md-offset-5  mt-3" style=" width:22%">
                    <div class="row">
                        <span class="bold">Wat voor ons belangrijk is?</span><br />
                    </div>
                    <div class="row">
                        Dat jij niet moet zoeken. Niet moet twijfelen. Niet moet blijven proberen tot het werkt. Maar dat je weet: dit zit goed.
                    </div>
                </div>
            </div>

            
            <div class="row mt-5">
                <div class="text-box col-lg-2 col-md-offset-2 " style="margin-top:-50px;  width:22%">
                    <div class="row">
                        <span class="bold">Waar kun je ons vinden?</span><br />
                    </div>
                    <div class="row">
                        We helpen klanten in de regio zoals Oudenburg en Oostende, maar ook daarbuiten, in heel België.
                    </div>
                </div>

                <div style="width:28%">
                </div>

                <div class="text-box" style="margin-top:-50px; width:22%">
                    <div class="row">
                        <span class="bold">Onze passie</span><br />
                    </div>
                    <div class="row">
                        Is niet alleen software bouwen, websites maken of een logo ontwerpen. Onze passie is ervoor zorgen dat jij vooruit kan.
                    </div>
                </div>
            </div>

            <div class="row mt-5 center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 mt-5">
                    <h2>Klaar voor jouw digitale partner?</h2>

                    <br />
                    <a href="" class="default-btn big">Neem contact op</a><br />
                    <a href="" class="default-btn big">Vraag advies</a>
                </div>
            </div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/scripts.ejs') %>
</body>

</html>