---
permalink: paketten.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

    <%- include('_includes/googletags.ejs') %>

    <title>Amiros - Pakketten</title>

    <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Amiros Pakketen' , subtitle: 'Alles wat je nodig hebt om professioneel online te staan — in één pakket.<br />Website, branding, tools en ondersteuning, perfect op elkaar afgestemd.' ,
        text: 'Met Amiros heb je niet alleen een sterke basis, maar ook een digitale partner.'
        }) %>

        <section style="padding-bottom:0px !important;padding-top:100px !important">
            <div class="row center justify-center">
                <div class="col-md-8 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">
                    <h2>Een Amiros pakket, wat houdt dat in?</h2>
                </div>
            </div>
        </section>

        <section class="bg-red mt-5">
            <div class="row mt-5 justify-center">
                <div class="col-md-10">
                    <div class="row center" style="justify-content: center;">
                        <div class="col-md-1">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-link" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center">
                                Professionele website
                            </div>
                        </div>

                        <div class="col-md-1" style="margin-top:20px">
                            <span style="font-size:62px;">+</span>
                        </div>

                        <div class="col-md-1">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-ranking-star" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                herkenbare uitstraling
                            </div>
                        </div>

                        <div class="col-md-1" style="margin-top:20px">
                            <span style="font-size:62px;">+</span>
                        </div>

                        <div class="col-md-1">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-server" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                hosting en onderhoud
                            </div>
                        </div>

                        <div class="col-md-1" style="margin-top:20px">
                            <span style="font-size:62px;">+</span>
                        </div>

                        <div class="col-md-1">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-phone-volume" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                ondersteuning op elk moment
                            </div>
                        </div>

                        <div class="col-md-1" style="margin-top:20px">
                            <span style="font-size:62px;">=</span>
                        </div>

                        <div class="col-md-2">
                            <div class="row center" style="justify-content: center;">
                                <i class="fa fa-coins" style="font-size: 62px;"></i>
                            </div>
                            <div class="row" style="margin-top:25px;font-size:20px;justify-content: center;">
                                Eénmalige vaste prijs
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row justify-center center">
                <div class="col-lg-5">
                    <h2>Kies het pakket dat bij je past</h2><br />

                    <p>
                        Veel ondernemers regelen hun website, logo en tools apart.<br />
                        Tot blijkt dat alles niet goed samenwerkt en kosten blijven oplopen.<br /><br />

                        Met de Amiros pakketten zit alles meteen juist.<br />
                        Eén geheel, één aanpak en één duidelijke prijs.
                    </p>
                </div>
            </div>

            <div class="row center">
                <div class="col-md-10 col-md-offset-1 text-body mt-5 pricing-grid justify-center row">
                    <div class="col-md-3 pricing-container">
                        <div class="pricing-card__top">
                            <h3>Amiros Launch</h3>

                            <span class="small subtitle">
                                Eénmalige prijs: € 1.590
                            </span>
                        </div>

                        <span class="underline bigger">Sterk starten met een basis</span><br /><br />

                        <div class="pricing-card__body">
                            <p>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Onepage website<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Mobielvriendelijk<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Contactformulier<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Hosting & domein <br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Onderhoud<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis SEO <br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 1 online agenda<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis logo of visitekaartje<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 1 instapmoment + 1 revisie</div>
                            </p><br /><br /><br /><br />

                            <a href="contact.html" class="default-btn alt-color big">Amiros launch kiezen</a>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container primary">
                        <div class="pricing-card__top primary">
                            <h3 class="bold" style="margin-top:15px">
                                Amiros Grow
                            </h3>
                            <span class="small subtitle">
                                Eénmalige prijs: € 2.390
                            </span><br />
                            <span class="bold alt-color">Meest gekozen</span>
                        </div>

                        

                        <div class="pricing-card__body">
                            <p>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website tot 5 pagina’s.<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Mobielvriendelijk<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Contactformulier<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Hosting & domein<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Onderhoud<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis SEO<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 1 online agenda<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Logo ontwerp<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Visitekaartje<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> IT setup (1 toestel)<br /></div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 1 instapmoment + 1 revisie</div>
                            </p><br /><br />

                            <a href="contact.html" class="alternative-btn alt-color big" style="font-size: 20px;margin-top:25px">Amiros grow
                                kiezen</a>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container">
                        <div class="pricing-card__top primary">
                            <h3>Amiros premium</h3>
                            <span class="small subtitle">Eénmalige prijs: € 5.990</span>

                        </div>


                        <div class="pricing-card__body">
                            <span class="underline bigger">Voor jouw volledige digitale aanpak</span><br /><br />

                            <p>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Website tot 12 pagina’s<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Mobielvriendelijk<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Blog of portfolio <br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Hosting & domein<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Onderhoud<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Basis SEO<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 2 online agenda’s <br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Branding pakket*<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> IT setup (2 toestellen)<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> 2u support/maand<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Strategisch advies<br /> </div>
                                <div style="margin-top:2px"><i class="fa-regular alt-color fa-circle-check"></i> Extra revisies </div>
                            </p>

                            <div style="margin-top:20px">
                                <a href="contact.html" class="default-btn alt-color big">Amiros premium kiezen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-body mt-5">
                    <h2>Transparant en zonder verrassingen</h2><br />

                    <p>
                        We werken met duidelijke pakketten zodat je weet waar je aan toe bent.
                        Geen verborgen kosten of onverwachte uitbreidingen,
                        maar een heldere aanpak waarbij alles op voorhand vastligt.
                        Extra wensen of uitbreidingen?
                        Die bekijken we samen, op jouw tempo.
                    </p><br />

                    <a href="contact.html" class="default-btn big">Contacteer ons</a><br />
                </div>
            </div>

        </section>


        <%- include('_includes/footer.ejs') %>

        <%- include('_includes/navbar.ejs') %>

        <%- include('_includes/cookies.ejs') %>

        <%- include('_includes/scripts.ejs') %>
</body>

</html>