---
permalink: partner-basic.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Partner basic</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Partner basic' ,
        subtitle: 'Uw vaste digitale partner voor kleine vragen en snelle ondersteuning.' ,
        text: 'Duidelijk, persoonlijk en zonder onnodige complexiteit.' }) %>

        <section class="bg-white">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-9 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voor wie is "Partner basic"?</h2>
                    <br />
                    <p>Voor zelfstandigen en kleine bedrijven die af en toe digitale hulp nodig hebben. <br />
                        Met Partner Basic heeft u één vast aanspreekpunt dat meedenkt, snel reageert en kleine
                        technische vragen efficiënt oplost.
                    </p>
                </div>
            </div>

            <div class="row mt-5 nomobilemargin">
                <div class="col-md-8 col-md-offset-2 text-body mt-5 nomobilemargin">
                    <div class="row justify-center">
                        <div class="col-lg-2 mobilew100">
                            <div class="row justify-center">
                                <img src="img/partner/zelfstandigen.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Zelfstandigen</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/partner/kleinebedrijven.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Kleine bedrijven</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/partner/digitalevormgeving.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Basis digitale omgeving</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/partner/hulp.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Occasionale hulp</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/partner/partner.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Vaste partner</span>
                            </div>
                        </div>

                        <div class="mobiletop">&nbsp;</div>
                    </div>
                </div>
            </div>

        </section>

        <section style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:-50px;margin-right:50px">
                            <div class="row justify-center center">
                                <h2>Wat zit inbegrepen?</h2><br />

                                <p>
                                    <span class="bold">1 uur support per maand</span><br />
                                    Voor kleine vragen en korte interventies.<br /><br />

                                    <span class="bold">Mail, telefoon, remote of ter plaatse</span><br />
                                    Ondersteuning op de manier die het best past.<br /><br />

                                    <span class="bold">Technische hulp</span><br />
                                    Bij instellingen, foutmeldingen en kleine digitale problemen.<br /><br />

                                    <span class="bold">Websitehulp</span><br />
                                    Voor beperkte vragen of eenvoudige aanpassingen.<br /><br />

                                    <span class="bold">Praktisch advies</span><br />
                                    Over digitale tools, keuzes en werkwijzen.<br /><br />

                                    <span class="bold">Prioriteit in planning</span><br />
                                    Voorrang op klanten zonder partnerpakket.<br /><br />

                                    <span class="bold">Verplaatsing inbegrepen</span><br />
                                    Tot 20 km vanaf Amiros.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-md-12 mobilew100"
                            style="border: 2px solid #b31313; border-radius: 25px;padding:40px;margin:50px 0">
                            <div class="row justify-center center">
                                <h2 class="underline">Partner Basic</h2>
                            </div>

                            <div class="row justify-center center"
                                style="border-bottom: 2px solid gray;padding-bottom:25px;padding-top:25px">
                                <span class="bold" style="font-size:42px">€ 199</span>&nbsp;<span
                                    style="font-size:24px">/ maand</span>
                            </div>

                            <div class="row" style="margin-top:25px;margin-left:25px;text-align: left;;">
                                <p class="col-md-offset-2">
                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">1 uur
                                        support</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">Incl.
                                        verplaatsing tot 20km</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">Vaste
                                        partner</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span
                                        class="big">Minimumlooptijd 6 maand</span><br /><br /><br />

                                    
                                </p>
                            </div>

                            <div class="row justify-center center">
                                <a href="contact.html" class="alternative-btn alt-color big"
                                        style="font-size:20px;">Partner Basic worden</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:50px;margin-right:-50px">
                            <div class="row justify-center center">
                                <h2>Waarom partner worden?</h2><br />

                                <p>
                                    <span class="bold">Geen losse zoektocht meer</span><br />
                                    U hoeft niet telkens opnieuw te zoeken naar iemand die u kan helpen.<br />
                                    U heeft één vast aanspreekpunt.<br /><br />

                                    <span class="bold">Sneller terug aan het werk</span><br />
                                    Ondersteuning op de manier die het best past.<br /><br />

                                    <span class="bold">Technische hulp</span><br />
                                    Kleine problemen kosten vaak meer tijd dan verwacht.<br />
                                    Met Partner Basic krijgt u sneller duidelijkheid en praktische hulp.<br /><br />

                                    <span class="bold">Iemand die uw situatie kent</span><br />
                                    Doordat we uw digitale omgeving leren kennen, kunnen we gerichter meedenken en
                                    sneller schakelen.<br /><br />

                                    <span class="bold">Rust en zekerheid</span><br />
                                    U weet vooraf waar u terechtkunt, wat inbegrepen is en hoe ondersteuning wordt
                                    opgevolgd.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white" style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voorbeelden van interventies</h2><br />
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Mail</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-envelope big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Problemen met Outlook, verzenden, ontvangen, synchronisatie of instellingen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Website</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-link big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Een tekst aanpassen, foto vervangen, openingsuren wijzigen of een kleine fout
                                    oplossen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Printers</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-print big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Verbinding herstellen, instellingen nakijken of opnieuw configureren.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Toegang</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-lock-open big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Hulp bij accounts, wachtwoorden, rechten of inloggen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Computer</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-laptop big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Foutmeldingen, trage werking of software die niet correct opent.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Tools</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-gear big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3 justify-center" style="margin:20px 0">
                                <p>Hulp bij Office, agenda, cloud, formulieren.</p>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-10" data-wow-delay=".3s" style="margin-top:25px">
                        <div class="row partner-basic-note-cards">
                            <div class="partner-basic-note-card mobilew100">
                                <div class="info-box" style="height:330px !important;min-height:330px !important">
                                    <div class="boxtitle" style="margin-top:25px">
                                        <span class="alt-color">Buiten 20 km</span>
                                    </div>
                                    <div class="text" style="font-size:24px">
                                        20 – 30 km: + €15 / maand<br />
                                        30 – 40 km: + €30 / maand<br />
                                        + 40 km: op afspraak<br /><br />

                                        <a href="contact.html" class="btn default-btn big" style="font-size:24px">Vraag uw offerte</a>
                                    </div>
                                </div>
                            </div>

                            <div class="partner-basic-note-card mobilew100">
                                <div class="info-box" style="height:330px !important;min-height:330px !important">
                                    <div class="boxtitle" style="margin-top:25px">
                                        <span class="alt-color">Eerlijk, duidelijk en persoonlijk</span>
                                    </div>
                                    <div class="text" style="font-size:24px">
                                        Geen losse zoektocht naar hulp, <br />maar één partner die uw digitale omgeving
                                        begrijpt.<br /><br />

                                        <a href="contact.html" class="btn default-btn big" style="font-size:24px">Bespreek uw situatie</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row justify-center center ">
                <p class="big mt-5 mobile80vw">
                    Wilt u niet telkens opnieuw zoeken naar digitale hulp?<br />
                    Met Partner Basic heeft u één vast aanspreekpunt voor kleine technische vragen, ondersteuning en
                    digitale hulp.
                </p>
            </div>

            <div class="row justify-center center" style="margin-top:50px">
                <div class="col-lg-2 m-none">&nbsp;</div>
                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100">
                    <a href="contact.html" class="btn default-btn big" style="font-size:24px">Partner Basic
                        aanvragen</a>
                </div>
                <div class="col-lg-4">&nbsp;</div>

                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="partner-business.html" class="btn default-btn big" style="font-size:24px">Bekijk partner business</a>
                </div>
               
            </div>
             <div class="col-lg-2 mobiletop">&nbsp;</div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>