---
permalink: partner-premium.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Partner Premium</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Partner Premium' ,
        subtitle: 'Digitale ondersteuning op het hoogste niveau' ,
        text: 'Duidelijk, persoonlijk en zonder onnodige complexiteit.' }) %>

        <section class="bg-white">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-9 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voor wie is "Partner Premium"?</h2>
                    <br />
                    <p>Uw digitale omgeving is te belangrijk om telkens ad hoc op te lossen.<br /><br />

                        Met Partner Premium heeft u Amiros als vaste digitale partner voor structurele ondersteuning, snelle opvolging en praktisch advies.<br /><br />

                        U krijgt de hoogste prioriteit, meer supportruimte en een partner die uw werking leert kennen.<br />
                        Zo worden technische vragen, terugkerende problemen en digitale verbeteringen sneller opgevolgd, 
                        zonder telkens opnieuw te moeten uitleggen hoe uw bedrijf werkt.
                    </p>
                </div>
            </div>

            <div class="row mt-5 nomobilemargin">
                <div class="col-md-8 col-md-offset-2 text-body mt-5 nomobilemargin">
                    <div class="row justify-center">
                        <div class="col-lg-2 mobilew100">
                            <div class="row justify-center">
                                <img src="img/partner/kleinebedrijven.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Groeiende bedrijven</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/partner/Complex.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Complexere werking</span>
                            </div> 
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/partner/digitalevormgeving.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Digitale zekerheid</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/partner/hulp.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Vaste opvolging</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/partner/partner.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Hoogste prioriteit</span>
                            </div>
                        </div>

                        <div class="mobiletop">&nbsp;</div>
                    </div>
                </div>
            </div>

        </section>

        <section style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:-50px;margin-right:50px">
                            <div class="row justify-center center">
                                <h2>Wat zit inbegrepen?</h2><br />

                                <p>
                                    <span class="bold">5 uur support/maand</span><br />
                                     Voor regelmatige ondersteuning, opvolging en praktische hulp wanneer uw digitale werking aandacht vraagt.<br /><br />

                                    <span class="bold">Flexibele ondersteuning</span><br />
                                    Via mail, telefoon, remote of ter plaatse, afhankelijk van wat het snelst helpt.<br /><br />

                                    <span class="bold">Technische hulp & werkplekken</span><br />
                                    Voor computers, mail, printers, software, accounts, instellingen en digitale blokkades.<br /><br />

                                    <span class="bold">Digitale structuur</span><br />
                                    Meer overzicht in bestanden, toegangen, tools en werkwijzen binnen uw zaak.<br /><br />

                                    <span class="bold">Bestaande Amiros-oplossingen</span><br />
                                    Support op websites, software en toepassingen die door Amiros worden beheerd.<br /><br />

                                    <span class="bold">Hoogste prioriteit</span><br />
                                     Voorrang binnen de partnerpakketten en verplaatsing inbegrepen tot 20 km.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-md-12 mobilew100"
                            style="border: 2px solid #b31313; border-radius: 25px;padding:40px;margin:50px 0">
                            <div class="row justify-center center">
                                <h2 class="underline">Hoogste ondersteuning<br />Partner premium</h2>
                            </div>

                            <div class="row justify-center center"
                                style="border-bottom: 2px solid gray;padding-bottom:25px;padding-top:25px">
                                <span class="bold" style="font-size:42px">€ 499</span>&nbsp;<span
                                    style="font-size:24px">/ maand</span>
                            </div>

                            <div class="row" style="margin-top:25px;margin-left:25px;text-align: left;;">
                                <p class="col-md-offset-2">
                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">5 uur
                                        support</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">Incl.
                                        verplaatsing tot 20km</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">Hoogste prioriteit in planning</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span
                                        class="big">Minimumlooptijd 6 maand</span><br /><br /><br />

                                    <a href="contact.html" class="alternative-btn alt-color big"
                                        style="font-size:20px;margin-left:15px">Partner premium worden</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:50px;margin-right:-50px">
                            <div class="row justify-center center">
                                <h2>Waarom partner worden?</h2><br />

                                <p>
                                    <span class="bold">Geen vaste IT’er nodig</span><br />
                                    Een interne IT’er is voor veel KMO’s te duur of niet nodig.<br />
                                    Met Partner Premium krijgt u wel een vaste digitale partner die uw zaak leert kennen, meedenkt en klaarstaat wanneer er digitale vragen zijn.<br /><br />

                                    <span class="bold">Eerlijk advies bij digitale keuzes</span><br />
                                    Nieuwe computer nodig? Andere software overwegen? 
                                    Een tool aankopen? Wij denken mee, vergelijken opties en geven eerlijk advies alsof het voor onze eigen zaak is.<br /><br />

                                    <span class="bold">Meer dan technische hulp</span><br />
                                    Premium gaat verder dan problemen oplossen. 
                                    We kijken ook mee naar hoe uw digitale werking beter, eenvoudiger of efficiënter kan.<br /><br />

                                    <span class="bold">Een partner die uw werking begrijpt</span><br />
                                    Doordat we uw zaak, mensen, tools en manier van werken leren kennen, 
                                    kunnen we gerichter adviseren en sneller de juiste oplossing voorstellen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white" style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voorbeelden van interventies</h2><br />
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Nieuwe medewerker</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa  fa-people-carry-box big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Alles correct klaarzetten zodat iemand professioneel kan starten.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Nieuwe toestellen</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-laptop big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Advies bij aankoop van computers, printers of andere werkmiddelen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Digitale chaos</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-folder-open big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Meer overzicht brengen in bestanden, accounts, tools en toegangen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Dubbel werk</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-code-fork big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Bekijken hoe processen eenvoudiger en efficiënter kunnen..</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Software keuzes</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-code big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Eerlijk advies bij programma’s, licenties en digitale tools.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Terugkerende problemen</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-bug-slash big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3 justify-center" style="margin:20px 0">
                                <p>Niet alleen oplossen, maar ook de oorzaak mee bekijken..</p>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-10" data-wow-delay=".3s" style="margin-top:25px">
                        <div class="row">
                            <div class="col-lg-4 mobilew100">
                                <div class="info-box" style="height:330px !important;min-height:330px !important">
                                    <div class="boxtitle" style="margin-top:25px">
                                        <span class="alt-color">Buiten 20 km</span>
                                    </div>
                                    <div class="text" style="font-size:24px">
                                        20 – 30 km: + €15 / maand<br />
                                        30 – 40 km: + €30 / maand<br />
                                        + 40 km: op afspraak<br /><br />

                                        <a href="contact.html" class="btn default-btn big" style="font-size:24px">Vraag uw offerte</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mobiletop">&nbsp;</div>

                            <div class="col-lg-4  mobilew100">
                                <div class="info-box" style="height:330px !important;min-height:330px !important">
                                    <div class="boxtitle" style="margin-top:25px">
                                        <span class="alt-color">Eerlijk, duidelijk en persoonlijk</span>
                                    </div>
                                    <div class="text" style="font-size:24px">
                                        Geen losse zoektocht naar hulp, <br />maar één partner die uw digitale omgeving
                                        begrijpt.<br /><br />

                                        <a href="FAQ.html" class="btn default-btn big" style="font-size:24px">Vragen? Bekijk de FAQ</a>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-4 mobiletop">&nbsp;</div>
                              <div class="col-lg-4 mobiletop">&nbsp;</div>
                        </div>
                    </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row justify-center center ">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Een vaste digitale partner die verder kijkt dan support</h2>

                    <p class="big mt-5">
                        Met Partner Premium kiest u niet alleen voor technische hulp, maar voor een partner die meedenkt over uw volledige digitale werking.<br /><br />

                        U krijgt ondersteuning wanneer er iets vastloopt, maar ook eerlijk advies bij nieuwe aankopen, softwarekeuzes en manieren om efficiënter te werken. <br /><br />
                        Zo hoeft u geen interne IT’er in huis te hebben om toch professioneel digitaal ondersteund te worden.

                        Voor bedrijven die rust, duidelijkheid en een betrouwbare partner willen bij hun digitale keuzes.
                    </p>
                </div>
            </div>

            <div class="row justify-center center" style="margin-top:50px">
                <div class="col-lg-2 m-none">&nbsp;</div>
                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100">
                    <a href="contact.html" class="btn default-btn big" style="font-size:24px">Partner premium aanvragen</a>
                </div>
                <div class="col-lg-4">&nbsp;</div>

                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="contact.html" class="btn default-btn big" style="font-size:24px">Bespreek uw situatie</a>
                </div>
               
            </div>
             <div class="col-lg-2 mobiletop">&nbsp;</div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>