---
permalink: partner-business.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Partner business</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Partner business' ,
        showMeestGekozen: true,
        subtitle: 'Meer ondersteuning voor bedrijven die digitaal willen blijven draaien.' ,
        text: 'Duidelijk, persoonlijk en zonder onnodige complexiteit.' }) %>

        <section class="bg-white">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-9 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voor wie is "Partner business"?</h2>
                    <br />
                    <p>Partner Business is bedoeld voor zelfstandigen en kleine bedrijven die regelmatig digitale ondersteuning nodig hebben,<br />
                        maar waarvoor een vaste IT’er in huis niet nodig of niet haalbaar is.<br /><br />

                        U krijgt een vaste digitale partner voor technische vragen, digitale tools, kleine interventies en ondersteuning bij bestaande Amiros-oplossingen.<br />
                        Zo heeft u wel de zekerheid van een vaste aanspreekpartner, zonder de kost van een interne medewerker.
                    </p>
                </div>
            </div>

            <div class="row mt-5 nomobilemargin">
                <div class="col-md-8 col-md-offset-2 text-body mt-5 nomobilemargin">
                    <div class="row justify-center">
                        <div class="col-lg-2 mobilew100">
                            <div class="row justify-center">
                                <img src="img/partner/Teams.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Kleine teams</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/partner/kleinebedrijven.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Groeiende zaak</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/partner/digitalevormgeving.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Geen interne IT</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/partner/hulp.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Regelmatige hulp</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/partner/partner.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Vaste partner</span>
                            </div>
                        </div>

                        <div class="mobiletop">&nbsp;</div>
                    </div>
                </div>
            </div>

        </section>

        <section style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:-50px;margin-right:50px">
                            <div class="row justify-center center">
                                <h2>Wat zit inbegrepen?</h2><br />

                                <p>
                                    <span class="bold">3 uur support/maand</span><br />
                                     Voor regelmatige vragen,  interventies en praktische ondersteuning.<br /><br />

                                    <span class="bold">Mail, telefoon, remote of ter plaatse</span><br />
                                     Ondersteuning die het best bij u past.<br /><br />

                                    <span class="bold">Technische ondersteuning</span><br />
                                     Bij instellingen, foutmeldingen, toestellen, software of digitale problemen.<br /><br />

                                    <span class="bold">Hulp bij digitale tools</span><br />
                                     Ondersteuning bij tools die u gebruikt in uw dagelijkse werking.<br /><br />

                                    <span class="bold">Ondersteuning bij Amiros-oplossingen</span><br />
                                     Voor vragen rond websites, software of digitale toepassingen die door Amiros worden beheerd.<br /><br />

                                    <span class="bold">Prioriteit in planning</span><br />
                                     Hogere prioriteit dan Basic en klanten zonder partnerpakket.<br /><br />

                                    <span class="bold">Verplaatsing inbegrepen</span><br />
                                     Tot 20 km vanaf Amiros.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-md-12 mobilew100"
                            style="border: 2px solid #b31313; border-radius: 25px;padding:40px;margin:50px 0">
                            <div class="row justify-center center">
                                <h2 class="underline">Meest gekozen<br />Partner business</h2>
                            </div>

                            <div class="row justify-center center"
                                style="border-bottom: 2px solid gray;padding-bottom:25px;padding-top:25px">
                                <span class="bold" style="font-size:42px">€ 299</span>&nbsp;<span
                                    style="font-size:24px">/ maand</span>
                            </div>

                            <div class="row" style="margin-top:25px;margin-left:25px;text-align: left;;">
                                <p class="col-md-offset-2">
                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">3 uur
                                        support</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">Incl.
                                        verplaatsing tot 20km</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big">Hogere prioriteit in planning</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span
                                        class="big">Minimumlooptijd 6 maand</span><br /><br /><br />

                                    <a href="contact.html" class="alternative-btn alt-color big"
                                        style="font-size:20px;margin-left:15px">Partner Business worden</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:50px;margin-right:-50px">
                            <div class="row justify-center center">
                                <h2>Waarom partner worden?</h2><br />

                                <p>
                                    <span class="bold">Geen interne IT nodig</span><br />
                                    Voor veel kleine bedrijven is een eigen IT-medewerker niet nodig of te duur.<br />
                                     Met Partner Business heeft u toch een vaste digitale partner achter de hand.<br /><br />

                                    <span class="bold">Iemand die uw situatie kent</span><br />
                                    Doordat we uw digitale omgeving leren kennen, kunnen we gerichter meedenken en sneller schakelen.<br />
                                     U hoeft niet telkens opnieuw uit te leggen hoe uw zaak werkt.<br /><br />

                                    <span class="bold">Sneller terug aan het werk</span><br />
                                    Kleine problemen kosten vaak meer tijd dan verwacht.<br />
                                    Met Partner Business krijgt u sneller duidelijkheid, praktische hulp en prioriteit in de planning.<br /><br />

                                    <span class="bold">Rust en zekerheid</span><br />
                                    U weet vooraf waar u terechtkunt, wat inbegrepen is en hoe ondersteuning wordt opgevolgd.<br />
                                    Dat geeft meer zekerheid dan losse interventies wanneer er iets misloopt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white" style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voorbeelden van interventies</h2><br />
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Mails</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-envelope big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Outlook, gedeelde mailboxen of synchronisatieproblemen praktisch oplossen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">werkplek opstarten</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-people-carry-box big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Mail, computer, Teams en toegangen klaarzetten zodat iemand meteen kan starten.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Printer/scanner</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-print big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Verbindingsproblemen, instellingen en scanproblemen oplossen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Toegang klopt niet</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-lock-open big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Een account, heeft te veel of te weinig rechten, of wachtwoorden en gebruikers moeten beter beheerd worden.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Nieuwe computer</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-laptop big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3" style="margin:20px 0">
                                <p>Advies bij aankoop van toestellen en professionele installatie voor uw zaak.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Bestand-structuur</span>
                            </div>
                            <div class="row justify-center mt-3">
                                <i class="fa fa-folder-open big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-3 justify-center" style="margin:20px 0">
                                <p>Orde brengen in documenten, OneDrive, Teams of gedeelde mappen.</p>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-10" data-wow-delay=".3s" style="margin-top:25px">
                        <div class="row">
                            <div class="col-lg-4 mobilew100">
                                <div class="info-box" style="height:330px !important;min-height:330px !important">
                                    <div class="boxtitle" style="margin-top:25px">
                                        <span class="alt-color">Buiten 20 km</span>
                                    </div>
                                    <div class="text" style="font-size:24px">
                                        20 – 30 km: + €15 / maand<br />
                                        30 – 40 km: + €30 / maand<br />
                                        + 40 km: op afspraak<br /><br />

                                        <a href="contact.html" class="btn default-btn big" style="font-size:24px">Vraag uw offerte</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mobiletop">&nbsp;</div>

                            <div class="col-lg-4  mobilew100">
                                <div class="info-box" style="height:330px !important;min-height:330px !important">
                                    <div class="boxtitle" style="margin-top:25px">
                                        <span class="alt-color">Eerlijk, duidelijk en persoonlijk</span>
                                    </div>
                                    <div class="text" style="font-size:24px">
                                        Geen losse zoektocht naar hulp, <br />maar één partner die uw digitale omgeving
                                        begrijpt.<br /><br />

                                        <a href="FAQ.html" class="btn default-btn big" style="font-size:24px">Vragen? Bekijk de FAQ</a>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-4 mobiletop">&nbsp;</div>
                              <div class="col-lg-4 mobiletop">&nbsp;</div>
                        </div>
                    </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row justify-center center ">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Meer ondersteuning, zonder interne IT’er</h2>

                    <p class="big mt-5">
                        Partner Business is het pakket voor wie meer nodig heeft dan af en toe hulp, maar nog geen interne IT-verantwoordelijke wil aanwerven.<br /><br />
                        
                        U krijgt vaste ondersteuning, prioriteit en iemand die uw digitale omgeving leert kennen.<br />
                        Zo worden kleine problemen sneller opgevolgd, blijven werkplekken beter draaien <br />en hoeft u niet telkens opnieuw iemand te zoeken wanneer er iets vastloopt.<br /><br />
                        
                        Een praktische en betaalbare manier om uw zaak digitaal sterker te maken.
                    </p>
                </div>
            </div>

            <div class="row justify-center center" style="margin-top:50px">
                <div class="col-lg-2 m-none">&nbsp;</div>
                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100">
                    <a href="contact.html" class="btn default-btn big" style="font-size:24px">Partner Business
                        aanvragen</a>
                </div>
                <div class="col-lg-4">&nbsp;</div>

                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="partner-premium.html" class="btn default-btn big" style="font-size:24px">Bekijk partner premium</a>
                </div>
               
            </div>
             <div class="col-lg-2 mobiletop">&nbsp;</div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>