---
permalink: software.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Home</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Software op maat voor jouw werking' ,
        subtitle: 'Soms volstaat standaard software niet. Amiros ontwikkelt oplossingen op maat die perfect aansluiten bij jouw manier van werken.'
        ,
        text: 'Amiros helpt zelfstandigen en bedrijven met professionele websites die vertrouwen uitstralen en duidelijk tonen wat je doet.'
        }) %>


        <section>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">

                    <h2>Wanneer standaard software niet meer volstaat</h2>
                    <br />
                    <p>Veel bedrijven starten met bestaande software, maar botsen later op beperkingen.<br /><br />

                        • systemen werken niet goed samen<br />
                        • manueel werk blijft nodig<br />
                        • oplossing past niet bij jouw werking<br />
                        Soms bestaat er gewoon geen oplossing die écht aansluit.<br /><br />

                        Dan wordt software op maat interessant.

                    </p>

                </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">

                    <h2>We ontwikkelen software op maat van jouw noden en werking.</h2>
                    <br />
                    <p>✔ interne tools om processen te automatiseren<br />
                        ✔ dashboards en rapportering<br />
                        ✔ koppelingen tussen verschillende systemen<br />
                        ✔ planning- en opvolgingssystemen<br />
                        ✔ digitale workflows op maat<br /><br />

                        Zo krijg je een oplossing die perfect aansluit bij jouw werking en mee kan groeien
                    </p>
                    <br />
                    <a href="" class="default-btn big">Vraag vrijblijvend advies</a>
                </div>
            </div>
        </section>


        <section>
            <div class="row">
                <div class="col-md-10 col-md-offset-2 text-body mt-5">
                    <div class="col-md-offset-1">
                        <h2>Hoe we jouw software stap voor stap opbouwen</h2><br />

                        <p>We bouwen jouw software in overleg en met duidelijke opvolging.</p>
                    </div>


                    <br /><br />

                    <div class="row col-md-offset-1">
                        <div class="col-lg-4">
                            <div class="row" style="margin-top:25px">
                                <div class="col-lg-2">
                                    <span class="numbering" style="position: absolute;top:15px;">01<span>
                                </div>
                                <div class="col-lg-9" style="border-bottom: 5px dashed #b31313;">
                                    &nbsp;;
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="bold">Kennismaking</span><br />
                            We starten met een gesprek <br />
                            waarin we jouw werking en noden bekijken.

                        </div>
                    </div>

                    <div class="row col-md-offset-1" style="margin-top:50px">

                        <div class="col-lg-4">
                            <span class="bold">Opbouw</span><br />
                            We bouwen stap voor stap <br />
                            en stemmen regelmatig af:<br />
                            • wat goed zit<br />
                            • wat anders moet<br />
                            • wat nog ontbreekt

                        </div>

                        <div class="col-lg-4">
                            <div class="row" style="margin-top:25px; margin-left:0px">
                                <div class="col-lg-9" style="border-bottom: 5px dashed #b31313;">
                                    &nbsp;;
                                </div>
                                <div class="col-lg-2">
                                    <span class="numbering" style="position: absolute;top:15px;">02<span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-offset-1" style="margin-top: 50px;">
                        <div class="col-lg-4">
                            <div class="row" style="margin-top:25px">
                                <div class="col-lg-2">
                                    <span class="numbering" style="position: absolute;top:15px;">03<span>
                                </div>
                                <div class="col-lg-9" style="border-bottom: 5px dashed #b31313;">
                                    &nbsp;;
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="bold">Feedback & opvolging</span><br />
                            Tijdens het proces krijg je updates en denken we actief met je mee. <br />
                            We zoeken steeds naar de meest efficiënte oplossing.
                        </div>
                    </div>


                    <div class="row col-md-offset-1" style="margin-top:50px">

                        <div class="col-lg-4">
                            <span class="bold">Testing & oplevering</span><br />
                            Alles wordt getest voor oplevering. <br />
                            Pas wanneer alles correct werkt, gaat de software live.

                        </div>

                        <div class="col-lg-4">
                            <div class="row" style="margin-top:25px; margin-left:0px">
                                <div class="col-lg-9" style="border-bottom: 5px dashed #b31313;">
                                    &nbsp;;
                                </div>
                                <div class="col-lg-2">
                                    <span class="numbering" style="position: absolute;top:15px;">04<span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row col-md-offset-1" style="margin-top: 50px;">
                        <div class="col-lg-4">
                            <div class="row" style="margin-top:25px">
                                <div class="col-lg-2">
                                    <span class="numbering" style="position: absolute;top:15px;">05<span>
                                </div>
                                <div class="col-lg-9" style="border-bottom: 5px dashed #b31313;">
                                    &nbsp;;
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <span class="bold">Ook na oplevering blijven we beschikbaar:</span><br />
                            • aanpassingen<br />
                            • ondersteuning<br />
                            • optimalisaties
                        </div>
                    </div>

                    <div class="row col-md-offset-1" style="margin-top:50px">

                        <div class="col-lg-4">
                            <a href="" class="default-btn">Benieuwd hoe dit er voor jouw bedrijf uitziet?<br />
                                👉 Bespreek jouw project</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Ervaring waarop je kan rekenen</h2>
                    <br />
                    <p>Amiros staat voor meer dan 10 jaren ervaring in softwareontwikkeling.
                        Door voortdurend bij te leren en nieuwe technologieën te volgen,
                        bouwen we oplossingen die technisch sterk, veilig en toekomstgericht zijn.
                        De communicatie blijft daarbij duidelijk en persoonlijk,
                        met korte lijnen tijdens het volledige traject.</p>
                    <br />
                    <h2>Wat kost software op maat?</h2>
                    <br />
                    <p>Software op maat wordt opgebouwd in fases en afgestemd op jouw noden.
                        Voor kleinere oplossingen kan dit beperkt blijven, terwijl grotere projecten uitgebreider worden
                        opgebouwd.
                        We werken steeds met een <span class="bold">duidelijke inschatting of projectprijs</span>, zodat
                        je op voorhand weet waar je aan toe bent.
                        Zo vermijd je verrassingen en weet je vooraf wat je investering is.</p>
                    <br />
                    <h2>Technologieën die we gebruiken</h2>
                    <br />
                    <p>We bouwen software met moderne en betrouwbare technologieën,<br />
                        afgestemd op jouw project en manier van werken.<br /><br />

                        We werken onder andere met:<br />
                        • C# en .NET<br />
                        • Blazor (huidige technologie stack)<br />
                        • SQL (databanken)<br />
                        • HTML, CSS en JavaScript<br />
                        • Vue.js voor webinterfaces
                    </p>
                    <br />
                    <h2>Is software op maat iets voor jou?</h2>
                    <br />
                    <p>Software op maat is interessant wanneer:
                        • je veel manueel werk hebt
                        • je tijd wil besparen via automatisatie
                        • je met verschillende systemen werkt
                        • je een specifieke oplossing nodig hebt die niet bestaat
                        Twijfel je of dit voor jouw situatie zinvol is? Dan bekijken we dat samen.
                    </p>
                    <br />
                    <a href="" class="default-btn big">vraag vrijblijven advies</a>
                    <br /><br />
                    <h2>Wil je bekijken wat software op maat voor jou kan betekenen?</h2>
                    <br />
                    <p>We luisteren graag naar jouw situatie en bekijken samen waar we kunnen automatiseren of
                        verbeteren.
                    </p><br />
                    <a href="" class="default-btn big">Start een gesprek</a>
                </div>
            </div>
        </section>

        <%- include('_includes/footer.ejs') %>

        <%- include('_includes/navbar.ejs') %>

        <%- include('_includes/scripts.ejs') %>
</body>

</html>