---
permalink: website-plus.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Website plus</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Website Plus' ,
        subtitle: 'Snel professioneel online zichtbaar ' ,
        text: 'Duidelijk, persoonlijk en zonder onnodige complexiteit.' }) %>

        <section class="bg-white">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-9 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Een uitgebreide website</h2>
                    <br />
                    <p>Website Plus is bedoeld voor bedrijven die meer inhoud, structuur of meerdere talen nodig hebben.<br /><br />

                        U krijgt een uitgebreide professionele website waarmee u uw diensten, aanpak, team, projecten en informatie duidelijk kunt presenteren.<br />
Meer ruimte, meer structuur en een sterkere online uitstraling.
                    </p>
                </div>
            </div>

            <div class="row mt-5 nomobilemargin">
                <div class="col-md-8 col-md-offset-2 text-body mt-5 nomobilemargin">
                    <div class="row justify-center">
                        <div class="col-lg-2 mobilew100">
                            <div class="row justify-center">
                                <img src="img/website/Files.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Meer inhoud</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/website/Boxes.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Meerdere diensten</span>
                            </div> 
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/website/Code.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Sterke structuur</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/website/PersonScore.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Meer vertrouwen</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/website/PersonScore.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Meertalig</span>
                            </div>
                        </div>

                        <div class="mobiletop">&nbsp;</div>
                    </div>
                </div>
            </div>

        </section>

        <section style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:-50px;margin-right:50px">
                            <div class="row justify-center center">
                                <h2>Wat zit inbegrepen?</h2><br />

                                <p>
                                    <span class="bold">Tot 12 pagina’s</span><br />
                                    Ruimte voor een website met meerdere onderdelen, diensten of informatiepagina’s.<br /><br />

                                    <span class="bold">Mobiel design</span><br />
                                    Uw website werkt mooi en vlot op smartphone, tablet en desktop.<br /><br />

                                    <span class="bold">Contactformulier</span><br />
                                    Bezoekers kunnen eenvoudig contact opnemen via de website.<br /><br />

                                    <span class="bold">Basis SEO</span><br />
                                    Technische basisinstellingen voor een betere online vindbaarheid per pagina.<br /><br />

                                    <span class="bold">Meertalig NL/FR/ENG</span><br />
                                    Ideaal voor bedrijven die klanten in meerdere talen willen aanspreken.<br /><br />

                                    <span class="bold">2 revisierondes</span><br />
                                    Twee feedbackrondes om de website inhoudelijk en visueel bij te sturen.<br /><br />

                                    <span class="bold">Duidelijke navigatie</span><br />
                                    Een overzichtelijke structuur zodat bezoekers snel vinden wat ze zoeken.<br /><br />

                                    <span class="bold">Professionele opbouw</span><br />
                                    De website wordt opgebouwd met aandacht voor vertrouwen, duidelijkheid en gebruiksgemak.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-md-12 mobilew100"
                            style="border: 2px solid #b31313; border-radius: 25px;padding:40px;margin:50px 0">
                            <div class="row justify-center center">
                                <h2 class="underline">Website Plus</h2>
                            </div>

                            <div class="row justify-center center"
                                style="border-bottom: 2px solid gray;padding-bottom:25px;padding-top:25px">
                                <div class="col-lg-12">
                                    <div class="row justify-center">
                                        <span class="bold" style="font-size:42px">€ 3.630</span>
                                        &nbsp;<span style="font-size:24px"> éénmalig</span>
                                    </div>

                                    <div class="row justify-center mt-3">
                                        <p>+ € 79 / maand hosting & onderhoud</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:25px;margin-left:25px;text-align: left;">
                                <p class="">
                                    <i class="fa-regular alt-color fa-circle-check big"></i> 
                                    <span class="big">Tot 12 pagina’s</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> 
                                    <span class="big">Mobile-design</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> 
                                    <span class="big">2 revisierondes</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> 
                                    <span class="big">Meertalig mogelijk</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> 
                                    <span class="big">SEO & contactformulier</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> 
                                    <span class="big">Maandelijkse hosting & onderhoud verplicht</span><br /><br />
                                </p>
                            </div>

                            <div class="row justify-center center">
                                <a href="contact.html" class="alternative-btn alt-color big"
                                        style="font-size:20px">Website Plus</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:50px;margin-right:-50px">
                            <div class="row justify-center center">
                                <h2>Waarom Plus?</h2><br />

                                <p>
                                    <span class="bold">Meer ruimte, meer overzicht</span><br />
                                    Wanneer u veel te vertellen heeft, wordt een gewone website snel te beperkt. Website Plus geeft uw diensten, aanpak, realisaties, FAQ en extra informatie elk een duidelijke plaats.<br /><br />

                                    <span class="bold">Sterkere basis voor SEO</span><br />
                                    Met meer pagina’s kunt u gerichter werken rond verschillende diensten, zoekwoorden of regio’s. Zo wordt uw website niet alleen uitgebreider, maar ook beter voorbereid op online vindbaarheid.<br /><br />

                                    <span class="bold">Geschikt voor meerdere doelgroepen</span><br />
                                    Heeft u verschillende types klanten, diensten of regio’s? Dan kan uw website daarop worden afgestemd, zodat bezoekers sneller de juiste informatie vinden.<br /><br />

                                    <span class="bold">Meertalig mogelijk</span><br />
                                    Voor bedrijven die zowel Nederlandstalige als Franstalige klanten willen aanspreken, kan de website meteen in meerdere talen worden opgebouwd.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white" style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voorbeelden van wat op uw website kan staan:</h2><br />
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row justify-center center">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Home</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa  fa-house big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5  mobilew100 justify-center" style="margin:20px 0">
                                <p>Een duidelijke eerste indruk van uw zaak.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Diensten</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-user-gear big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5  mobilew100 justify-center" style="margin:20px 0">
                                <p>Uw aanbod overzichtelijk uitgelegd.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Over ons</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-circle-info big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5  mobilew100 justify-center" style="margin:20px 0">
                                <p>Wie u bent en waarom klanten voor u kiezen.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Contactgegevens</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-phone big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5  mobilew100 justify-center" style="margin:20px 0">
                                <p>Telefoon, e-mail, adres, openingsuren & contactformulier</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Call to action</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-share-nodes big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5  mobilew100 justify-center" style="margin:20px 0">
                                <p>Bezoekers aanzetten om contact op te nemen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" style="border: 2px solid #b31313;padding: 50px">
                    <div class="row">
                        <div class="col-lg-4 mobilew100 nomobilemargin nomobilepadding nomobileborder" style="border-right: 2px solid #b31313;padding:0 50px;margin-right:50px">
                            <div class="row " style="text-align:left">
                                <h2>Hosting & technisch onderhoud</h2>
                            </div>
                            <div class="row" style="text-align:left">
                                <p>
                                    Om uw website online, veilig en technisch up-to-date te houden, werken we met een vaste maandelijkse kost.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-2  mobilew100 justify-center mobiletop" style="align-content:center">
                            <span class="bold alt-color" style="font-size:42px">€ 79</span>&nbsp;<span style="font-size:18px"> / Maand</span>
                        </div>

                        <div class="col-lg-5">
                            <div class="row ml-5">
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Hosting</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Beveiligings-controles</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Back-ups</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Technische opvolging</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Updates</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Kleine tekstaanpassing tot 10 min</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center center mobilepadding mt-5">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp">
                    <h2>Later uitbreiden? Dat kan.</h2>

                    <p>
                        Website Plus geeft u een complete en professionele basis. Heeft uw zaak later meer nodig, dan bekijken we samen welke uitbreidingen passen bij uw werking.
                    </p>
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row justify-center center">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Extra pagina’s</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa  fa-person-circle-question big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>

                         <div class="mobiletop">&nbsp;</div>
                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">SEO-uitbreiding</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-user-gear big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>

                         <div class="mobiletop">&nbsp;</div>
                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Zakelijke e-mail</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-arrow-right-to-city big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>

                         <div class="mobiletop">&nbsp;</div>
                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Online afspraken</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-phone big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>

                         <div class="mobiletop">&nbsp;</div>
                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Call to action</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-share-nodes big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row justify-center center mt-3">
                <div class="col-md-10 col-sm-5">
                    <a href="contact.html" class="btn default-btn big">Bespreek mijn website</a>
                </div>
            </div>
             <div class="mobiletop">&nbsp;</div>
        </section>

        <section class="bg-red">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Klaar om uw bedrijf professioneel online te presenteren?</h2>

                    <p class="big mt-5">
                        Zo krijgt u een uitgebreide website die vandaag professioneel werkt en later verder kan meegroeien met uw bedrijf. <br />
                        Toch nog meer nodig? Bekijk onze website op maat. 
                    </p>
                </div>
            </div>

            <div class="row justify-center center" style="margin-top:50px">
                <div class="col-lg-2 m-none">&nbsp;</div>
                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100">
                    <a href="contact.html" class="btn default-btn big" style="font-size:24px">Website plus aanvragen</a>
                </div>
                <div class="col-lg-2">&nbsp;</div>

                 <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="website-op-maat.html" class="btn default-btn big" style="font-size:24px">Bekijk website op maat</a>
                </div>
               <div class="col-lg-2">&nbsp;</div>
               
                 <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="paketten.html" class="btn default-btn big" style="font-size:24px">Onze Amiros pakketten</a>
                </div>
            </div>
             <div class="col-lg-2 mobiletop">&nbsp;</div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>