---
permalink: website-maken.html
---


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <title>Amiros - Home</title>

        <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">
    <%- include('_includes/banner.ejs', { title: 'Website laten maken voor jouw zaak' ,
        subtitle: 'Een goede website is vaak de eerste indruk die klanten van je krijgen.' ,
        text: 'Amiros helpt zelfstandigen en bedrijven met professionele websites die vertrouwen uitstralen en duidelijk tonen wat je doet.'
        }) %>


        <section>
            <div class="row col-md-offset-2 ">
                <div class="col-lg-6 mt-5">
                    <div class="row iconbulet">
                        <div class="icon"><i class="fa fa-arrow-right"></i> </div>
                        <div class="text"><span>Nog geen website?</span></div>
                    </div>
                </div>

                <div class="col-lg-6 mt-5">
                    <div class="row iconbulet">
                        <div class="icon"><i class="fa fa-arrow-right"></i> </div>
                        <div class="text"><span>Ik wordt niet gevonden op Google</span></div>
                    </div>
                </div>

                <div class="col-lg-6 mt-5">
                    <div class="row iconbulet">
                        <div class="icon"><i class="fa fa-arrow-right"></i> </div>
                        <div class="text"><span>Verouderde website?</span></div>
                    </div>
                </div>

                <div class="col-lg-6 mt-5">
                    <div class="row iconbulet">
                        <div class="icon"><i class="fa fa-arrow-right"></i> </div>
                        <div class="text"><span>Klanten snappen niet wat ik doe</span></div>
                    </div>
                </div>

                <div class="col-lg-6 mt-5">
                    <div class="row iconbulet">
                        <div class="icon"><i class="fa fa-arrow-right"></i> </div>
                        <div class="text"><span>Ik heb geen nieuwe klanten.</span></div>
                    </div>
                </div>

                <div class="col-lg-6 mt-5">
                    <div class="row iconbulet">
                        <div class="icon"><i class="fa fa-arrow-right"></i> </div>
                        <div class="text"><span>De website is niet goed
                                voor tablet of GSM?</span></div>
                    </div>
                </div>
            </div>

            <div class="row center mt-5">
                <div class="col-md-6 col-md-offset-3 col-sm-5 mt-5">
                    <p style="font-size: 18px;">
                        Daarom bouwen we bij Amiros websites die eenvoudig, overzichtelijk en professioneel zijn.
                    </p>
                </div>
            </div>
        </section>

        <section class="bg-red">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2 col-sm-5 text-body wow fadeInUp fs-2" data-wow-delay=".3s">

                    <h2 style="margin-top:-5px">Hoe Amiros jouw website bouwt</h2>
                    <br />
                    <p>Elke website begint met een goed gesprek.<br />
                        We luisteren naar wat je doet, wie je klanten zijn en wat je wil bereiken.<br /><br />

                        Daarna vertalen we dat naar een duidelijke structuur<br />
                        en bouwen we stap voor stap een website die klopt.<br />

                        We denken mee over inhoud, logica en gebruik,
                        zodat alles eenvoudig en overzichtelijk blijft.<br />
                        ✔ duidelijk opgebouwd<br />
                        ✔ werkt op elk toestel<br />
                        ✔ snel en gebruiksvriendelijk<br />
                        ✔ klaar om uit te breiden<br /><br />

                        Zo krijg je geen standaard website,
                        maar een oplossing die werkt in de praktijk.
                    </p>

                </div>
            </div>
        </section>

        <section class="bg-white">
            <div class="row">
                <div class="col-md-4 col-md-offset-3 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Wat kan jouw website allemaal bevatten?</h2>

                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <p>
                        Elke website is anders. Sommige zelfstandigen willen een eenvoudige website met hun diensten en
                        contactgegevens. Andere bedrijven willen een uitgebreidere website met extra functies.
                        Samen bekijken we wat voor jouw situatie het meest logisch is.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row g-2">
                        <div class="col-lg-3  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-home"></i>
                                </div>
                                <div class="boxtitle">
                                    Homepage
                                </div>
                                <div class="text">
                                    Bezoekers begrijpen meteen wat je doet.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-list"></i>
                                </div>
                                <div class="boxtitle">
                                    Diensten
                                </div>
                                <div class="text">
                                    Klanten snel vinden wat ze zoeken.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-calendar"></i>
                                </div>
                                <div class="boxtitle">
                                    Online agenda
                                </div>
                                <div class="text">
                                    Klanten kunnen zelf een afspraak inplannen.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3  mt-5">
                            <div class="info-box">
                                <div class="icon">
                                    <i class="fa-solid fa-hashtag"></i>
                                </div>
                                <div class="boxtitle">
                                    Koppeling socials
                                </div>
                                <div class="text">
                                    Bezoekers kunnen je andere kanalen volgen.
                                </div>
                            </div>
                        </div>
                    </div>

<div class="row g-4">
    <div class="col-lg-3  mt-5">
        <div class="info-box">
            <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="boxtitle">
                Contactpagina
            </div>
            <div class="text">
                Met contactformulier en Google Maps
            </div>
        </div>
    </div>

    <div class="col-lg-3 mt-5">
        <div class="info-box">
            <div class="icon">
                <i class="fa-solid fa-folder-closed"></i>
            </div>
            <div class="boxtitle">
                Portfolio
            </div>
            <div class="text">
                Om voorbeelden van je werk te tonen
            </div>
        </div>
    </div>

    <div class="col-lg-3 mt-5">
        <div class="info-box">
            <div class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="boxtitle">
                Webshop
            </div>
            <div class="text">
                Verkoop je producten eenvoudig online
            </div>
        </div>
    </div>

    <div class="col-lg-3  mt-5">
        <div class="info-box">
            <div class="icon">
                <i class="fa-solid fa-clipboard-list"></i>
            </div>
            <div class="boxtitle">
                SEO
            </div>
            <div class="text">
                Hoger in Google verschijnen en meer uit je website halen
            </div>
        </div>
    </div>
</div>

                </div>

            </div><br /><br />

            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-5">
                    <h2>Wat kost een website laten maken?</h2>
                </div>

                <div class="col-md-6 col-md-offset-3 col-sm-5">
                    <br />
                    <p>
                        De prijs van een website hangt af van het aantal pagina’s, functies en inhoud. Hieronder vind je
                        enkele richtprijzen om een idee te krijgen.
                        Twijfel je welke website het best bij je past? We helpen je graag bij het maken van de juiste
                        keuze.
                    </p>
                </div>
            </div>

            <div class="row">


                <div class="col-md-10 col-md-offset-1 text-body mt-5 pricing-grid justify-center row">
                    <div class="col-md-3 pricing-container center">
                        <div class="pricing-card__top">
                            <h3>Website start</h3><br />
                            <span class="smaller italic">€ 995</span>
                        </div>

                        <div class="pricing-card__body">
                            <div style="margin-top:15px">
                                <span class="bold">Ideaal voor starters die snel online zichtbaar willen
                                    zijn.</span>
                            </div>

                            <p class="center" style="margin-top:70px">
                                ✔ one-page website<br />
                                ✔ mobielvriendelijk design<br />
                                ✔ contactformulier<br />
                                ✔ basis SEO<br />
                                ✔ professionele layout
                            </p><br />

                            <a href="contact" class="alt-color default-btn big">Kies start</a>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container primary  center">
                        <div class="pricing-card__top primary">
                            <h3 style="margin-top:13px">
                                <span class="bold">Website basis</span>
                            </h3><br />
                            <span class="smaller italic">€ 1.390</span>
                        </div>

                        <div class="pricing-card__body">
                            <span class="bold">Voor zelfstandigen die hun diensten duidelijk willen
                                presenteren.</span><br /><br />

                            <p class="center" style="margin-top: 12px;">
                                ✔ website tot 5 pagina's<br />
                                ✔ mobielvriendelijk design<br />
                                ✔ contactformulier<br />
                                ✔ basis SEO optimalisatie<br />
                                ✔ duidelijke structuur van je diensten
                            </p><br />

                            <div style="margin-top:10px">
                                <a href="contact" class="alt-color default-btn big">Go basis</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 pricing-container center">
                        <div class="pricing-card__top">
                            <h3>Website uitgebreid</h3><br />
                            <span class="smaller italic">€ 3.630</span>
                        </div>

                        <div class="pricing-card__body">
                            <div style="margin-top:30px">
                                <span class="bold">Voor bedrijven die een uitgebreidere website
                                    willen.</span><br /><br /><br />
                            </div>



                            <p class="center" style="margin-top: 15px;">
                                ✔ website tot 12 pagina's<br />
                                ✔ blog of nieuwssectie<br />
                                ✔ meertalige structuur mogelijk<br />
                                ✔ uitbreidbaar met extra modules<br />
                                ✔ professionele opbouw
                            </p><br />

                            <a href="contact" class="alt-color default-btn big">Ga uitgebreid</a>
                        </div>
                    </div>
                </div>


            </div>

        </section>


        <section>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-5 mt-5">
                    <p>
                        Voor een correcte werking van je website voorzien we hosting,
                        domein en technische opvolging.
                        Dit gebeurt via een vaste formule, zodat je website veilig, snel en up-to-date blijft.
                        Websites kunnen uitgebreid worden met extra pagina's, teksten, SEO optimalisatie of andere
                        functies.
                    </p>
                </div><br /><br />

                <div class="col-md-8 col-md-offset-3 col-sm-5 mt-5">
                    <h3>Meer dan alleen een website</h3><br />
                    <p>
                        Veel klanten combineren hun website met andere digitale oplossingen.<br />
                        Denk bijvoorbeeld aan een logo, een online afspraken systeem of bredere digitale
                        ondersteuning.<br /><br />
                        Daarom zit een website ook in <span class="bold">onze Amiros-pakketten</span>, waarbij verschillende oplossingen gecombineerd worden.
                    </p><br />

                    <a href="paketten" class="default-btn big alt-color big">Bekijk de Amiros pakketten</a>
                </div>
            </div>
        </section>

        <section class="bg-white">
            <div class="row">
                <div class="col-md-8 col-md-offset-3 col-sm-5 mt-5">
                    <h3>Waarom geen template of AI-website?</h3><br />
                    <p>
                        Snel starten is makkelijk.<br />
                        Maar wat werkt op lange termijn?
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-5 mt-5">


                    <div class="col-md-5"
                        style="background-color: #e4e7ec; justify-content: center;padding:50px;">
                        <div class="row justify-center">
                            <span style="font-size: 32px;">Template/AI</span><br /><br />
                        </div>

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>1 zoals 1000</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Beperkte mogelijkheden</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text">
                                <span>Trager door “plugins”</span>
                            </div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Afhankelijk van platform</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Workarouds</span></div>
                        </div>
                    </div>

                    <div class="col-md-5"
                        style="background-color: #f5f5f5; justify-content: center;padding:50px;">

                        <div style="position: absolute;left:-22px; top:200px;">
                            <span class="bold alt-color" style="font-size:32px;">VS</span>
                        </div>

                        <div class="row justify-center">
                            <span style="font-size: 32px;">Amiros</span><br /><br />
                        </div>

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Uniek voor jou</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Slimme integraties</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Snelle performance</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Onafhankelijk en flexibel</span></div>
                        </div><br />

                        <div class="row iconbulet justify-center">
                            <div class="text"><span>Doordachte oplossingen</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-3 col-sm-5 mt-5">
                    <p>
                        Geen tijdelijke oplossing, maar iets dat blijft werken
                    </p><br />

                    <a href="contact" class="default-btn big alt-color big">Contacteer ons</a><br />
                </div>
            </div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/scripts.ejs') %>
</body>

</html>