---
permalink: website-start.html
---



<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_includes/metas.ejs') %>

        <%- include('_includes/googletags.ejs') %>

            <title>Amiros - Website Start</title>

            <%- include('_includes/css.ejs') %>
</head>

<body class="with-out-frame">

    <%- include('_includes//banner.ejs', { title: 'Website Start' ,
        subtitle: 'Snel professioneel online zichtbaar ' ,
        text: 'Duidelijk, persoonlijk en zonder onnodige complexiteit.' }) %>

        <section class="bg-white">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-9 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voor wie is "Website Start"?</h2>
                    <br />
                    <p>Voor zelfstandigen die snel een professionele website willen zonder meteen een grote of complexe website nodig te hebben.<br /><br />

                        Website Start geeft u een sterke online basis waarmee klanten u kunnen vinden, vertrouwen en contacteren.
                    </p>
                </div>
            </div>

            <div class="row mt-5 nomobilemargin">
                <div class="col-md-8 col-md-offset-2 text-body mt-5 nomobilemargin">
                    <div class="row justify-center">
                        <div class="col-lg-2 mobilew100">
                            <div class="row justify-center">
                                <img src="img/website/Persoon.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Starters</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/website/Raket.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Snelle opstart</span>
                            </div> 
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center">
                                <img src="img/website/Code.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Professionele basis</span>
                            </div>
                        </div>

                        <div class="col-lg-2 mobilew100 mobiletop">
                            <div class="row justify-center nomobilemargin">
                                <img src="img/website/Website.png" height="100" width="auto" />
                            </div>
                            <div class="row justify-center center">
                                <span class="bold">Online zichtbaar</span>
                            </div>
                        </div>

                        <div class="mobiletop">&nbsp;</div>
                    </div>
                </div>
            </div>

        </section>

        <section style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:-50px;margin-right:50px">
                            <div class="row justify-center center">
                                <h2>Wat zit inbegrepen?</h2><br />

                                <p>
                                    <span class="bold">One-page website</span><br />
                                     Een duidelijke website op één pagina met een professionele opbouw.<br /><br />

                                    <span class="bold">Mobiel design</span><br />
                                    Uw website werkt mooi op smartphone, tablet en desktop.<br /><br />

                                    <span class="bold">Contactformulier</span><br />
                                    Klanten kunnen u eenvoudig contacteren via de website.<br /><br />

                                    <span class="bold">Basis SEO</span><br />
                                    Technische basisinstellingen voor een betere online vindbaarheid.<br /><br />

                                    <span class="bold">1 revisieronde</span><br />
                                    Eén feedbackronde om de website nog bij te sturen.<br /><br />

                                    <span class="bold">Duidelijke structuur</span><br />
                                     Een heldere opbouw die vertrouwen geeft aan bezoekers.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-md-12 mobilew100"
                            style="border: 2px solid #b31313; border-radius: 25px;padding:40px;margin:50px 0">
                            <div class="row justify-center center">
                                <h2 class="underline">Website start</h2>
                            </div>

                            <div class="row justify-center center"
                                style="border-bottom: 2px solid gray;padding-bottom:25px;padding-top:25px">
                                <div class="col-lg-12">
                                    <div class="row justify-center">
                                        <span class="bold" style="font-size:42px">€ 995</span>
                                        &nbsp;<span style="font-size:24px"> éénmalig</span>
                                    </div>

                                    <div class="row justify-center mt-3">
                                        <p>+ € 62 / maand hosting & onderhoud</p>
                                    </div>
                                </div>
                                

                            </div>

                            

                            <div class="row" style="margin-top:25px;margin-left:25px;text-align: left;;">
                                <p class="">
                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big"> 1 professionele one-page website</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big" style="margin-left:2px"> Mobile-design</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span class="big"> 1 revisieronde inbegrepen</span><br /><br />

                                    <i class="fa-regular alt-color fa-circle-check big"></i> <span
                                        class="big">Maandelijkse hosting &  onderhoud verplicht</span><br /><br />

                                    
                                </p>
                            </div>

                            <div class="row justify-center center">
                                <a href="offerte-aanvragen.html?flow=website-start" class="alternative-btn alt-color big"
                                        style="font-size:20px">Website start</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-5 nomobilemargin" style="padding:0 50px;margin-left:50px;margin-right:-50px">
                            <div class="row justify-center center">
                                <h2>Waarom website start?</h2><br />

                                <p>
                                    <span class="bold">Snelle online aanwezigheid</span><br />
                                    Website Start is ideaal wanneer u snel professioneel online zichtbaar wilt zijn.<br /> 
                                    U krijgt een duidelijke basis waarmee klanten uw zaak kunnen vinden en contacteren.
                                <br /><br />

                                    <span class="bold">Een professionele eerste indruk</span><br />
                                    Voor veel klanten is uw website één van de eerste contactpunten met uw zaak.<br />
                                    Een verzorgde website geeft vertrouwen en toont dat u professioneel werkt.<br /><br />

                                    <span class="bold">Geen overbodige complexiteit</span><br />
                                    Niet elke starter heeft meteen een grote website nodig. <br />
                                    Website Start focust op wat belangrijk is: wie u bent, wat u doet en hoe klanten u kunnen bereiken.<br /><br />

                                    <span class="bold">Klaar om later uit te breiden</span><br />
                                    U start met een sterke basis, maar zit niet vast.<br />
                                    Wanneer uw zaak groeit, kan uw website later uitgebreid worden met extra pagina’s, teksten, lokale SEO of digitale functies
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white" style="margin:0px;">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Voorbeelden van wat op uw website kan staan:</h2><br />
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row justify-center center">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Wie bent u?</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa  fa-person-circle-question big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5 mobilew100 justify-center" style="margin:20px 0">
                                <p>Korte voorstelling van uw zaak of activiteit.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Wat doet u?</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-user-gear big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5 mobilew100 justify-center" style="margin:20px 0">
                                <p>Uw diensten of aanbod duidelijk uitgelegd.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Uw bedrijf kiezen</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-arrow-right-to-city big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5 mobilew100 justify-center" style="margin:20px 0">
                                <p>Voordelen, aanpak of sterke punten.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Contactgegevens</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-phone big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5 mobilew100 justify-center" style="margin:20px 0">
                                <p>Telefoon, e-mail, adres, openingsuren & contactformulier</p>
                            </div>
                        </div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Call to action</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-share-nodes big alt-color" style="font-size:52px"></i>
                            </div>
                            <div class="row mt-5 mobilew100 justify-center" style="margin:20px 0">
                                <p>Bezoekers aanzetten om contact op te nemen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" style="border: 2px solid #b31313;padding: 50px">
                    <div class="row">
                        <div class="col-lg-4 mobilew100 nomobilepadding nomobilemargin nomobileborder" style="border-right: 2px solid #b31313;padding:0 50px;margin-right:50px">
                            <div class="row"  style="text-align:left">
                                <h2>Hosting & technisch onderhoud</h2>
                            </div>
                            <div class="row" style="text-align:left">
                                <p>
                                    Om uw website online, veilig en technisch up-to-date te houden, werken we met een vaste maandelijkse kost.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-2 mobiletop justify-center center mobilew100" style="align-content:center">
                            <span class="bold alt-color" style="font-size:42px">€ 62</span>&nbsp;<span style="font-size:18px"> / Maand</span>
                        </div>

                        <div class="col-lg-5">
                            <div class="row ml-5">
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Hosting</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Beveiligings-controles</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Back-ups</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Technische opvolging</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Updates</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 big mt-4" style="text-align:left">
                                    <div class="check-item">
                                        <i class="fa-regular alt-color fa-circle-check big"></i>
                                        <span>Kleine tekstaanpassing tot 10 min</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center center mobilepadding mt-5">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp">
                    <h2>Later uitbreiden? Dat kan.</h2>

                    <p>
                        Website Start is bewust eenvoudig en duidelijk.<br />
                        Heeft u later meer nodig, dan bekijken we samen welke uitbreidingen passen bij uw zaak
                    </p>
                </div>
            </div>

                      <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <div class="row justify-center center">
                        <div class="col-lg-2 nomobilepadding mobilew100" style="padding:40px">
                            <div class="row  justify-center big center">
                                <span class="bold">Extra pagina’s</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa  fa-person-circle-question big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>
                        <div class="mobiletop">&nbsp;</div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">SEO-uitbreiding</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-user-gear big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>
<div class="mobiletop">&nbsp;</div>
                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center big">
                                <span class="bold">Zakelijke e-mail</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-arrow-right-to-city big alt-color" style="font-size:52px"></i>
                            </div>
                        </div><div class="mobiletop">&nbsp;</div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Online afspraken</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-phone big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>
                        <div class="mobiletop">&nbsp;</div>

                        <div class="col-lg-2 nomobilepadding mobilew100 mobiletop" style="padding:40px">
                            <div class="row justify-center center big">
                                <span class="bold">Call to action</span>
                            </div>
                            <div class="row justify-center mt-5">
                                <i class="fa fa-share-nodes big alt-color" style="font-size:52px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center center mt-3">
                <div class="col-md-10 col-sm-5">
                    <a href="offerte-aanvragen.html?flow=website-start" class="btn default-btn big">Bespreek mijn website</a>
                </div>
            </div>
            <div class="mobiletop">&nbsp;</div>
        </section>

        <section class="bg-red">
            <div class="row justify-center center mobilepadding">
                <div class="col-md-10 col-sm-5 text-body wow fadeInUp" data-wow-delay=".3s">
                    <h2>Klaar om uw bedrijf professioneel online te presenteren?</h2>

                    <p class="big mt-5">
                        Met Website start krijgt u een complete en overzichtelijke website die vertrouwen geeft en uw zaak sterker positioneert online.<br />
                        Zoekt u meer dan alleen een website? Ontdek dan onze Amiros-pakketten voor een bredere digitale begeleiding.
                    </p>
                </div>
            </div>

            <div class="row justify-center center" style="margin-top:50px">
                <div class="col-lg-2 m-none">&nbsp;</div>
                <div class="col-lg-2 col-sm-12 col-md-12 mobilew100">
                    <a href="offerte-aanvragen.html?flow=website-start" class="btn default-btn big" style="font-size:24px">Website start aanvragen</a>
                </div>
                <div class="col-lg-2">&nbsp;</div>

                 <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="website-basis.html" class="btn default-btn big" style="font-size:24px">Bekijk website basis</a>
                </div>
               <div class="col-lg-2">&nbsp;</div>

               
                 <div class="col-lg-2 col-sm-12 col-md-12 mobilew100 mobiletop">
                    <a href="paketten.html" class="btn default-btn big" style="font-size:24px">Onze Amiros pakketten</a>
                </div>
            </div>
             <div class="col-lg-2 mobiletop">&nbsp;</div>
        </section>


        <%- include('_includes/footer.ejs') %>

            <%- include('_includes/navbar.ejs') %>

                <%- include('_includes/cookies.ejs') %>

                    <%- include('_includes/scripts.ejs') %>
</body>

</html>